# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [67]:
import pandas as pd
import numpy as np
import random
import re
from test_case_generator_functions import separate_words_in_name_2,separate_words_in_name_3, special_characters,alphabet, characters_digital

In [68]:
df = pd.read_excel('GWU Test Case Type Tracker_ABCNY.XLSX')

C:\Users\jrblu\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [69]:
bh=df[df['Student']=='Bohao He']
bhin = bh[bh['Entity Type']=='Individual']
bhve = bh[bh['Entity Type']=='Vessel']

In [70]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

# TEST CASE TYPE REFERENCE INFORMATION

In [71]:
uid_list_in = list(bhin.UID)
uid_list_ve = list(bhve.UID)
#entity_type_list = ['Country', 'Entity', 'Individual']
#for i in range(440,509):
#    uid_list_in.append('UID-{0}'.format(i)) 
#for j in range(509,549):
#    uid_list_ve.append('UID-{0}'.format(j))
#theme = 'IDs'
#category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
#sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
#entity_type = ['Individual','Vessel']

## download the OFAC list from the web

In [72]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10998,39704,VISTA CLARA SHIPPING CORPORATION,-0-,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Secondary sanctions risk: section 1(b) of Exec...
10999,39709,BUSHEHR PRISON,-0-,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Additional Sanctions Information - Subject to ...
11000,39710,"OSTAD, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 22 Jun 1975; nationality Iran; Additional ...
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 1956; alt. DOB 1957; POB Iran; nationality...
11002,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
#select rows contain rob
ofac_list_download_dob=ofac_list_download[ofac_list_download[11].str.contains('DOB')==True]

In [74]:
ofac_list_download_dob

,0,1,2,3,4,5,6,7,8,9,10,11
53,2674,"ABBAS, Abu",individual,SDGT,Director of PALESTINE LIBERATION FRONT - ABU A...,-0-,-0-,-0-,-0-,-0-,-0-,DOB 10 Dec 1948; Director of PALESTINE LIBERAT...
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,SDGT,Chief Ideological Figure of ISLAMIC GAMA'AT,-0-,-0-,-0-,-0-,-0-,-0-,DOB 03 May 1938; POB Egypt; Chief Ideological ...
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,SDGT,Operational and Military Leader of JIHAD GROUP,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 19 Jun 1951; POB Giza, Egypt; Passport 108..."
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 19 Apr 1947; POB Nahia, Giza, Egypt; natio..."
57,2678,"AWDA, Abd Al Aziz",individual,SDGT,Chief Ideological Figure of PALESTINIAN ISLAMI...,-0-,-0-,-0-,-0-,-0-,-0-,DOB 1946; Chief Ideological Figure of PALESTIN...
...,...,...,...,...,...,...,...,...,...,...,...,...
10978,39680,"PIRI, Morteza",individual,IRAN-HR,Warden of Zahedan Central Prison,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 05 Jul 1977; POB Zabol, Sistan and Baluchi..."
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,IRAN-HR,Director-General of Sistan and Baluchistan Pro...,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 23 Sep 1974; POB Birjand, South Khorasan P..."
10992,39697,"FAZZONE, Gregorio",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 13 Nov 1959; alt. DOB 31 Dec 1959; nationa...
11000,39710,"OSTAD, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 22 Jun 1975; nationality Iran; Additional ...
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 1956; alt. DOB 1957; POB Iran; nationality...

In [75]:
ofac_list = ofac_list_download[[0,1,2,11]]
ofac_list.columns = ['uid', 'name', 'entity_type','DOB']
ofac_list_dob = ofac_list[ofac_list['DOB'].str.contains('DOB')==True]
#business = list(ofac_list.iloc[0])[2]
#ofac_list['entity_type'] = ofac_list['entity_type'].apply(lambda x:'Business' if x==business else x)

In [76]:
ofac_list

,uid,name,entity_type,DOB
0,36,AEROCARIBBEAN AIRLINES,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,-0-
4,475,CASA DE CUBA,-0-,-0-
...,...,...,...,...
10998,39704,VISTA CLARA SHIPPING CORPORATION,-0-,Secondary sanctions risk: section 1(b) of Exec...
10999,39709,BUSHEHR PRISON,-0-,Additional Sanctions Information - Subject to ...
11000,39710,"OSTAD, Mohammad Reza",individual,DOB 22 Jun 1975; nationality Iran; Additional ...
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,DOB 1956; alt. DOB 1957; POB Iran; nationality...
11002,,NaN,NaN,NaN

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [77]:
ofac_list_filtered_in = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals
#ofac_list_filtered_in = ofac_list_filtered_in[(ofac_list_filtered_in.name.str.count(' ') < 3)]

In [78]:
ofac_list_filtered_ve = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate Vessels

# CREATE THE TEST CASES

## create blank final test cases table

In [79]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [80]:
def uid_info(uid):
    theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
    category = list(bhin[bhin['UID']==uid]['Category'])[0]
    sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
    entity_type = ['Individual','Vessel']
    return[theme,category,sub_category,entity_type]

# UID-641

In [81]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [82]:
def month_dict():
    dic = {'Jan':'01','Feb':'02','Mar':'03',
           'Apr':'04','May':'05','Jun':'06',
           'Jul':'07','Aug':'08','Sep':'09',
           'Oct':'10','Nov':'11','Dec':'12'}
    return dic

In [83]:
ofac_list_dob_filtered = ofac_list_dob.copy()
#extract date of birth
ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : (x.split(';')[0])[4:])
ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : (x.split('to')[0]) if re.search('to',x) else x)
for i in month_dict().keys():
    ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : re.sub(i,month_dict()[i],x) if re.search(i,x) else x)
ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : (x.split('circa')[1]) if re.search('circa',x) else x)

In [84]:
count=[]
for i in range(len(ofac_list_dob_filtered)):
    count.append(len(ofac_list_dob_filtered.iloc[i]['DOB'].split(' ')))
ofac_list_dob_filtered['count'] = ofac_list_dob_filtered['DOB'].apply(lambda x:len(x.split(' ')))

In [85]:
ofac_list_dob_filtered

,uid,name,entity_type,DOB,count
53,2674,"ABBAS, Abu",individual,10 12 1948,3
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,03 05 1938,3
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,19 06 1951,3
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,19 04 1947,3
57,2678,"AWDA, Abd Al Aziz",individual,1946,1
...,...,...,...,...,...
10978,39680,"PIRI, Morteza",individual,05 07 1977,3
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,23 09 1974,3
10992,39697,"FAZZONE, Gregorio",individual,13 11 1959,3
11000,39710,"OSTAD, Mohammad Reza",individual,22 06 1975,3
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,1956,1

In [86]:
ofac_list_dob_mdy = ofac_list_dob_filtered.copy()
ofac_list_dob_my = ofac_list_dob_filtered.copy()
#ofac_list_dob_mdy = ofac_list_dob_filtered[ofac_list_dob_filtered['count']==3]
ofac_list_dob_mdy['DOB']=ofac_list_dob_mdy['DOB'].apply(lambda x:re.sub(' ','/',x))
ofac_list_dob_mdy

,uid,name,entity_type,DOB,count
53,2674,"ABBAS, Abu",individual,10/12/1948,3
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,03/05/1938,3
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,19/06/1951,3
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,19/04/1947,3
57,2678,"AWDA, Abd Al Aziz",individual,1946,1
...,...,...,...,...,...
10978,39680,"PIRI, Morteza",individual,05/07/1977,3
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,23/09/1974,3
10992,39697,"FAZZONE, Gregorio",individual,13/11/1959,3
11000,39710,"OSTAD, Mohammad Reza",individual,22/06/1975,3
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,1956,1

In [87]:
ofac_list_dob_y = ofac_list_dob_mdy[ofac_list_dob_mdy['DOB'].str.count('/')==2]
ofac_list_dob_y['DOB']=ofac_list_dob_y['DOB'].apply(lambda x:x[6:])
ofac_list_dob_y

C:\Users\jrblu\AppData\Local\Temp\ipykernel_21144\679764617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list_dob_y['DOB']=ofac_list_dob_y['DOB'].apply(lambda x:x[6:])

         uid                                 name entity_type   DOB  count
53      2674                           ABBAS, Abu  individual  1948      3
54      2675           AL RAHMAN, Shaykh Umar Abd  individual  1938      3
55      2676               AL ZAWAHIRI, Dr. Ayman  individual  1951      3
56      2677  AL-ZOMOR, Abboud Abdul Latif Hassan  individual  1947      3
60      2682          ISLAMBOULI, Mohammad Shawqi  individual  1955      3
...      ...                                  ...         ...   ...    ...
10974  39676                         FATHI, Murad  individual  1971      3
10978  39680                        PIRI, Morteza  individual  1977      3
10989  39694           KHOSRAVI, Mohammad Hossein  individual  1974      3
10992  39697                    FAZZONE, Gregorio  individual  1959      3
11000  39710                 OSTAD, Mohammad Reza  individual  1975      3

[4754 rows x 5 columns]

In [88]:
uid='UID-641'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_dob_y.sample(n = 10)
#ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:str(int(x[0:2])+random.randint(-5,5))+'/'+str(int(x[3:5])+random.randint(-5,5)))
for index, row in ofac_list_sampled.iterrows():
    final_test_name=row['name']
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name+' '+row['DOB']] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5855,23944,"BYSTROV, Mikhail Ivanovich","BYSTROV, Mikhail Ivanovich 1958"
1,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5033,22003,"DAYYUB, Tha'ir","DAYYUB, Tha'ir 1971"
2,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6176,25140,"AL-AMIN, Muhammad 'Abdallah","AL-AMIN, Muhammad 'Abdallah 1975"
3,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8388,31166,"BYCHKOV, Pyotr Aleksandrovich","BYCHKOV, Pyotr Aleksandrovich 1987"
4,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5351,22790,"MADURO MOROS, Nicolas","MADURO MOROS, Nicolas 1962"
5,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 4918,21744,"JO, Chol Song","JO, Chol Song 1984"
6,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6699,26088,"ALBALAWI, Fahad Shabib A.","ALBALAWI, Fahad Shabib A. 1985"
7,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 2585,13057,"CHOUKA, Yassin","CHOUKA, Yassin 1984"
8,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8623,32339,"NASSER, Wafiq","NASSER, Wafiq 1964"
9,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 10134,36809,"KONDRATYUK, Nikolai Fyodorovich","KONDRATYUK, Nikolai Fyodorovich 1957"

# UID-639

In [89]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [90]:
ofac_list_dob_mmdy = ofac_list_dob_mdy[ofac_list_dob_mdy['DOB'].str.count('/')==2]
ofac_list_dob_mmdy['DOB']=ofac_list_dob_mmdy['DOB'].apply(lambda x:x[3:5]+'/'+x[0:2]+'/'+x[8:])
ofac_list_dob_mmdy

C:\Users\jrblu\AppData\Local\Temp\ipykernel_21144\2573640099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list_dob_mmdy['DOB']=ofac_list_dob_mmdy['DOB'].apply(lambda x:x[3:5]+'/'+x[0:2]+'/'+x[8:])

         uid                                 name entity_type       DOB  count
53      2674                           ABBAS, Abu  individual  12/10/48      3
54      2675           AL RAHMAN, Shaykh Umar Abd  individual  05/03/38      3
55      2676               AL ZAWAHIRI, Dr. Ayman  individual  06/19/51      3
56      2677  AL-ZOMOR, Abboud Abdul Latif Hassan  individual  04/19/47      3
60      2682          ISLAMBOULI, Mohammad Shawqi  individual  01/15/55      3
...      ...                                  ...         ...       ...    ...
10974  39676                         FATHI, Murad  individual  05/20/71      3
10978  39680                        PIRI, Morteza  individual  07/05/77      3
10989  39694           KHOSRAVI, Mohammad Hossein  individual  09/23/74      3
10992  39697                    FAZZONE, Gregorio  individual  11/13/59      3
11000  39710                 OSTAD, Mohammad Reza  individual  06/22/75      3

[4754 rows x 5 columns]

In [91]:
#final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
uid='UID-639'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_filtered_in.sample(n = 10)
name_list=list(ofac_list_filtered_in['name'])

#ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:str(int(x[0:2])+random.randint(-5,5))+'/'+str(int(x[3:5])+random.randint(-5,5)))
for index, row in ofac_list_sampled.iterrows():
    final_test_name=random.choice(name_list)
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5855,23944,"BYSTROV, Mikhail Ivanovich","BYSTROV, Mikhail Ivanovich 1958"
1,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5033,22003,"DAYYUB, Tha'ir","DAYYUB, Tha'ir 1971"
2,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6176,25140,"AL-AMIN, Muhammad 'Abdallah","AL-AMIN, Muhammad 'Abdallah 1975"
3,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8388,31166,"BYCHKOV, Pyotr Aleksandrovich","BYCHKOV, Pyotr Aleksandrovich 1987"
4,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5351,22790,"MADURO MOROS, Nicolas","MADURO MOROS, Nicolas 1962"
5,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 4918,21744,"JO, Chol Song","JO, Chol Song 1984"
6,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6699,26088,"ALBALAWI, Fahad Shabib A.","ALBALAWI, Fahad Shabib A. 1985"
7,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 2585,13057,"CHOUKA, Yassin","CHOUKA, Yassin 1984"
8,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8623,32339,"NASSER, Wafiq","NASSER, Wafiq 1964"
9,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 10134,36809,"KONDRATYUK, Nikolai Fyodorovich","KONDRATYUK, Nikolai Fyodorovich 1957"
10,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 9223,34985,"AHMED, Abdo Abdullah Dael","MEJAKIC, Zeljko"
11,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 698,7945,"SHALABI, Ismail Abdallah Sbaitan","SEIF, Valiollah"
12,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 4930,21844,"HAKIMZADA, Harmohan Singh","PASHKOV, Vladimir Igorevich"
13,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 7021,26723,"TRIKULYA, Elena Anatolievna","ZDRILIUK, Serhii Anatoliyovych"
14,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 5120,22090,"IDRIS, Ibrahim","RAHMAT, Qari"
15,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 10177,36852,"RAKITIN, Alexander Vasilyevich","YAKUSHEV, Mikhail Ilich"
16,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 703,8086,"EL HADI, Mustapha Nasri Ben Abdul Kader Ait","GUTIERREZ, Dolis"
17,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 10054,36480,"LESHCHENKO, Mikhail Aleksandrovich","GIZUNOV, Sergey Aleksandrovich"
18,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 5048,22018,"JALAL, Husam-al-Din","PEREZ PASUENGO, Efrain"
19,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 2622,13120,"GUZMAN SALAZAR, Jesus Alfredo","YAKUBETS, Artem Viktorovich"

# UID-640

In [92]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [93]:
ofac_list_filtered_in_dr= ofac_list_filtered_in[ofac_list['name'].str.contains('Dr.')==True]
ofac_list_filtered_in_dr

C:\Users\jrblu\AppData\Local\Temp\ipykernel_21144\979959679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ofac_list_filtered_in_dr= ofac_list_filtered_in[ofac_list['name'].str.contains('Dr.')==True]

,uid,name,entity_type,DOB
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,"DOB 19 Jun 1951; POB Giza, Egypt; Passport 108..."
492,7700,"JOKIC, Dragan",individual,"DOB 20 Aug 1957; POB Grbavci, Bosnia-Herzegovi..."
506,7716,"KUNARAC, Dragoljub",individual,"DOB 15 May 1960; POB Foca, Bosnia-Herzegovina;..."
508,7718,"LALOVIC, Dragan",individual,"DOB 14 Jun 1953; POB Vlaholje, nr Kalinovik, B..."
525,7738,"MILOSEVIC, Dragomir",individual,"DOB 04 Feb 1942; POB Murgas, Bosnia-Herzegovin..."
544,7762,"OBRENOVIC, Dragan",individual,"DOB 12 Apr 1963; POB Matino Brdo, Bosnia-Herze..."
552,7772,"PRCAC, Dragoljub",individual,"DOB 18 Jul 1937; POB Omarska, Bosnia-Herzegovi..."
670,7898,"SPASOJEVIC, Dragon",individual,DOB 05 Jul 1965; National ID No. 050 796 318 3...
671,7899,"VASIC, Dragomir",individual,"DOB 1964; POB Brnjica, Bosina-Herzegovina."
725,8111,"BASEVIC, Dragan",individual,"DOB 02 Mar 1976; POB Belgrade, Serbia."
809,8227,"BURHAN, Dr. Sahir",individual,DOB 1967; nationality Iraq.
876,8334,"AL-RUBA, Dr. Khadim",individual,Managing Director of REAL ESTATE BANK.
915,8384,"KHALIL, Dr. Ahmad Murtada Ahmad",individual,Former Minister of Transport and Communications.
1135,9451,"SALEH, Dr. Abdul Latif",individual,"DOB 05 Mar 1957; POB Baghdad, Iraq; citizen Jo..."
2525,12926,"AL-BADRI, Dr. Ibrahim 'Awwad Ibrahim 'Ali",individual,"DOB 1971; POB Samarra'i, Iraq; a.k.a. 'ABU DU'..."

In [94]:
#final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
uid='UID-640'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_filtered_in_dr.sample(n = 10)
name_list=list(ofac_list_filtered_in['name'])

#ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:str(int(x[0:2])+random.randint(-5,5))+'/'+str(int(x[3:5])+random.randint(-5,5)))
for index, row in ofac_list_sampled.iterrows():
    
    final_test_name=row['name'].replace('Dr','Mr')
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5855,23944,"BYSTROV, Mikhail Ivanovich","BYSTROV, Mikhail Ivanovich 1958"
1,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5033,22003,"DAYYUB, Tha'ir","DAYYUB, Tha'ir 1971"
2,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6176,25140,"AL-AMIN, Muhammad 'Abdallah","AL-AMIN, Muhammad 'Abdallah 1975"
3,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8388,31166,"BYCHKOV, Pyotr Aleksandrovich","BYCHKOV, Pyotr Aleksandrovich 1987"
4,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5351,22790,"MADURO MOROS, Nicolas","MADURO MOROS, Nicolas 1962"
5,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 4918,21744,"JO, Chol Song","JO, Chol Song 1984"
6,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6699,26088,"ALBALAWI, Fahad Shabib A.","ALBALAWI, Fahad Shabib A. 1985"
7,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 2585,13057,"CHOUKA, Yassin","CHOUKA, Yassin 1984"
8,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8623,32339,"NASSER, Wafiq","NASSER, Wafiq 1964"
9,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 10134,36809,"KONDRATYUK, Nikolai Fyodorovich","KONDRATYUK, Nikolai Fyodorovich 1957"
10,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 9223,34985,"AHMED, Abdo Abdullah Dael","MEJAKIC, Zeljko"
11,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 698,7945,"SHALABI, Ismail Abdallah Sbaitan","SEIF, Valiollah"
12,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 4930,21844,"HAKIMZADA, Harmohan Singh","PASHKOV, Vladimir Igorevich"
13,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 7021,26723,"TRIKULYA, Elena Anatolievna","ZDRILIUK, Serhii Anatoliyovych"
14,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 5120,22090,"IDRIS, Ibrahim","RAHMAT, Qari"
15,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 10177,36852,"RAKITIN, Alexander Vasilyevich","YAKUSHEV, Mikhail Ilich"
16,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 703,8086,"EL HADI, Mustapha Nasri Ben Abdul Kader Ait","GUTIERREZ, Dolis"
17,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 10054,36480,"LESHCHENKO, Mikhail Aleksandrovich","GIZUNOV, Sergey Aleksandrovich"
18,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 5048,22018,"JALAL, Husam-al-Din","PEREZ PASUENGO, Efrain"
19,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 2622,13120,"GUZMAN SALAZAR, Jesus Alfredo","YAKUBETS, Artem Viktorovich"
20,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 670,7898,"SPASOJEVIC, Dragon","SPASOJEVIC, Mragon"
21,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 506,7716,"KUNARAC, Dragoljub","KUNARAC, Mragoljub"
22,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 55,2676,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman"
23,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 552,7772,"PRCAC, Dragoljub","PRCAC, Mragoljub"
24,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 725,8111,"BASEVIC, Dragan","BASEVIC, Mragan"
25,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 508,7718,"LALOVIC, Dragan","LALOVIC, Mragan"
26,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 544,7762,"OBRENOVIC, Dragan","OBRENOVIC, Mragan"
27,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 2525,12926,"AL-BADRI, Dr. Ibrahim 'Awwad Ibrahim 'Ali","AL-BADRI, Mr. Ibrahim 'Awwad Ibrahim 'Ali"
28,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 876,8334,"AL-RUBA, Dr. Khadim","AL-RUBA, Mr. Khadim"
29,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 1135,9451,"SALEH, Dr. Abdul Latif","SALEH, Mr. Abdul Latif"

In [95]:
final_test_cases.to_csv('bhin8.csv')

In [98]:
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5855,23944,"BYSTROV, Mikhail Ivanovich","BYSTROV, Mikhail Ivanovich 1958"
1,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5033,22003,"DAYYUB, Tha'ir","DAYYUB, Tha'ir 1971"
2,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6176,25140,"AL-AMIN, Muhammad 'Abdallah","AL-AMIN, Muhammad 'Abdallah 1975"
3,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8388,31166,"BYCHKOV, Pyotr Aleksandrovich","BYCHKOV, Pyotr Aleksandrovich 1987"
4,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 5351,22790,"MADURO MOROS, Nicolas","MADURO MOROS, Nicolas 1962"
5,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 4918,21744,"JO, Chol Song","JO, Chol Song 1984"
6,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 6699,26088,"ALBALAWI, Fahad Shabib A.","ALBALAWI, Fahad Shabib A. 1985"
7,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 2585,13057,"CHOUKA, Yassin","CHOUKA, Yassin 1984"
8,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 8623,32339,"NASSER, Wafiq","NASSER, Wafiq 1964"
9,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,UID-641 - 10134,36809,"KONDRATYUK, Nikolai Fyodorovich","KONDRATYUK, Nikolai Fyodorovich 1957"
10,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 9223,34985,"AHMED, Abdo Abdullah Dael","MEJAKIC, Zeljko"
11,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 698,7945,"SHALABI, Ismail Abdallah Sbaitan","SEIF, Valiollah"
12,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 4930,21844,"HAKIMZADA, Harmohan Singh","PASHKOV, Vladimir Igorevich"
13,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 7021,26723,"TRIKULYA, Elena Anatolievna","ZDRILIUK, Serhii Anatoliyovych"
14,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 5120,22090,"IDRIS, Ibrahim","RAHMAT, Qari"
15,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 10177,36852,"RAKITIN, Alexander Vasilyevich","YAKUSHEV, Mikhail Ilich"
16,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 703,8086,"EL HADI, Mustapha Nasri Ben Abdul Kader Ait","GUTIERREZ, Dolis"
17,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 10054,36480,"LESHCHENKO, Mikhail Aleksandrovich","GIZUNOV, Sergey Aleksandrovich"
18,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 5048,22018,"JALAL, Husam-al-Din","PEREZ PASUENGO, Efrain"
19,UID-639,Negative Control,No Match,100% false match,Individual,UID-639 - 2622,13120,"GUZMAN SALAZAR, Jesus Alfredo","YAKUBETS, Artem Viktorovich"
20,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 670,7898,"SPASOJEVIC, Dragon","SPASOJEVIC, Mragon"
21,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 506,7716,"KUNARAC, Dragoljub","KUNARAC, Mragoljub"
22,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 55,2676,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman"
23,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 552,7772,"PRCAC, Dragoljub","PRCAC, Mragoljub"
24,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 725,8111,"BASEVIC, Dragan","BASEVIC, Mragan"
25,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 508,7718,"LALOVIC, Dragan","LALOVIC, Mragan"
26,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 544,7762,"OBRENOVIC, Dragan","OBRENOVIC, Mragan"
27,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 2525,12926,"AL-BADRI, Dr. Ibrahim 'Awwad Ibrahim 'Ali","AL-BADRI, Mr. Ibrahim 'Awwad Ibrahim 'Ali"
28,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 876,8334,"AL-RUBA, Dr. Khadim","AL-RUBA, Mr. Khadim"
29,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 1135,9451,"SALEH, Dr. Abdul Latif","SALEH, Mr. Abdul Latif"

In [97]:
UID_315_641=pd.concat(l)

,Unnamed: 0,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,0,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 413,7539,"NHEMA, Chenayaimoyo Dunstan Francis",CHENAYAIMOYO DUNSTAN FRANCIS NHEMA 6-9-57
1,1,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 9985,36370,"TYURINA, Natalya Aleksandrovna",NATALYA ALEKSANDROVNA TYURINA 3-6-70
2,2,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 5195,22165,"SULAYMAN, Dayma",SULAYMAN DAYMA 14-14-80
3,3,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 6107,24829,"MITSUYASU, Katsuaki",MITSUYASU KATSUAKI 14-16-63
4,4,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 2108,11917,"BARRAGAN BALDERAS, Gilberto",BARRAGAN BALDERAS GILBERTO 8-9-69
5,5,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 9650,35626,"IGNATOV, Viktor Aleksandrovich",VIKTOR ALEKSANDROVICH IGNATOV 9-15-63
6,6,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 8929,33960,"MEZA OLIVARES, Alma Yanira",ALMA YANIRA MEZA OLIVARES 11-11-66
7,7,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 569,7791,"SIMIC, Blagoje",SIMIC BLAGOJE 11-11-55
8,8,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 5585,23343,"KADYROV, Ramzan Akhmatovich",KADYROV RAMZAN AKHMATOVICH 6-15-78
9,9,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,UID-466 - 7687,28692,"AL-MANSOORI, Ali Hussein Falih",ALI HUSSEIN FALIH AL-MANSOORI 12-14-69
10,10,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 3944,17872,"RUIZ DE BRIONES, Magdalena",MAGDALENA RUIZ DE BRIONES 11-50
11,11,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 5945,24424,"CABELLO RONDON, Diosdado",DIOSDADO CABELLO RONDON 4-66
12,12,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 2304,12416,"MOLANO TORRES, Deysi Yamile",DEYSI YAMILE MOLANO TORRES 4-83
13,13,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 4525,20156,"VARGAS GIRALDO, Claudia Mercedes",VARGAS GIRALDO CLAUDIA MERCEDES 9-65
14,14,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 7815,29250,"LEE, John Ka-chiu",LEE JOHN KA-CHIU 8-53
15,15,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 8282,30743,"MOULHEM, Kifah",MOULHEM KIFAH 7-63
16,16,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 9011,34139,"VIEIRA DIAS, Manuel Helder",MANUEL HELDER VIEIRA DIAS 15-50
17,17,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 1052,9331,"AL-TIKRITI, Ayman Sabawi Ibrahim Hasan",AL-TIKRITI AYMAN SABAWI IBRAHIM HASAN 6-75
18,18,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 5926,24318,"GOVORUN, Oleg",OLEG GOVORUN 1-67
19,19,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,UID-467 - 4831,21331,"ALEXSEYEV, Vladimir Stepanovich",ALEXSEYEV VLADIMIR STEPANOVICH 3-65
20,20,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 3270,15986,"ARABNEJAD, Hamid",HAMID ARABNEJAD 6-1960
21,21,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 2698,13413,"GUZMAN OCHOA, Ulises",ULISES GUZMAN OCHOA 4-1976
22,22,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 5732,23645,"NZABAMWITA, Lucien",NZABAMWITA LUCIEN 4-1966
23,23,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 4935,21905,"HAMDAN, Ahmad",AHMAD HAMDAN -2-1967
24,24,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 7898,29670,"OQUIST KELLEY, Paul Herbert",PAUL HERBERT OQUIST KELLEY 14-1944
25,25,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 4923,21749,"HAN, Jang Su",JANG SU HAN 9-1964
26,26,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 4871,21558,"MAGHAM, Mohammad",MOHAMMAD MAGHAM 12-1975
27,27,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 8019,29924,"IBRAHIM, Rana Hussein",IBRAHIM RANA HUSSEIN 10-1991
28,28,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 1752,11276,"BOONCHUA, Chanchira",CHANCHIRA BOONCHUA 7-1948
29,29,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,UID-468 - 9032,34356,"KOZAK, Taras Romanovych",KOZAK TARAS ROMANOVYCH 2-1972
30,30,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 2646,13149,"GUZMAN LOPEZ, Ovidio",OVIDIO GUZMAN LOPEZ 89-27-5
31,31,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 2707,13428,"IBARRA FAVILA, Jose Gerardo",JOSE GERARDO IBARRA FAVILA 63-9-2
32,32,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 1129,9440,"LANGA, Andrew",ANDREW LANGA 63-14-2
33,33,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 2352,12527,"AVENDANO OJEDA, Sergio",SERGIO AVENDANO OJEDA 78-30-1
34,34,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 7550,28315,"SHAMKHANI, Ali",SHAMKHANI ALI 54-31-11
35,35,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 1693,10991,"FITCH TOVAR, Jose Manuel",JOSE MANUEL FITCH TOVAR 35-28-10
36,36,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 3540,16683,"SERGUN, Igor Dmitrievich",IGOR DMITRIEVICH SERGUN 58-27-4
37,37,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 498,7707,"KNEZEVIC, Dusan",DUSAN KNEZEVIC 56-24-4
38,38,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 8030,30087,"TOUMEH BIN MOHAMMED, Nabil",TOUMEH BIN MOHAMMED NABIL 58-4-3
39,39,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,UID-469 - 1533,10570,"KHAYRBIK, Muhammad Nasif",MUHAMMAD NASIF KHAYRBIK 39-3-6
40,40,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 9972,36357,"GRUEVSKI, Nikola",GRUEVSKI NIKOLA 1971
41,41,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 3686,17008,"BUSTAMANTE JARAMILLO, Luis Carlos",LUIS CARLOS BUSTAMANTE JARAMILLO 1972
42,42,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 2732,15003,"FLORES APODACA, Salome",FLORES APODACA SALOME 1957
43,43,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 8736,32762,"MONTENEGRO ESPINOZA, Luis Angel",MONTENEGRO ESPINOZA LUIS ANGEL 1953
44,44,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 7770,29069,"HAMSHO, Amr Mohamed",HAMSHO AMR MOHAMED 1997
45,45,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 9314,35169,"PANKOV, Nikolay",NIKOLAY PANKOV 1952
46,46,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 171,6831,"DUQUE BOTERO, Jorge Alirio",JORGE ALIRIO DUQUE BOTERO 1947
47,47,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 9546,35522,"SITNIKOV, Alexey Vladimirovich",SITNIKOV ALEXEY VLADIMIROVICH 1975
48,48,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 9576,35552,"BAIGUSKAROV, Zarif Zakirovich",ZARIF ZAKIROVICH BAIGUSKAROV 1967
49,49,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,UID-470 - 1401,10274,"HODWALKER MARTINEZ, Martin David",MARTIN DAVID HODWALKER MARTINEZ 1963

In [59]:
UID_315_641.to_

,Unnamed: 0,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,0,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,UID-315 - 8276,30686,"GENCOGLU, Serhat","SERHAH GENCOGLU,"
1,1,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,UID-315 - 5910,24263,"QAYYUUM, Tabish","TABMSH QAYYUUM,"
2,2,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,UID-315 - 2053,11833,"GUERRERO CASTILLO, Pedro Oliveiro","GUEARERO CASTILLO, OLIVEIRO PEDRO"
3,3,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,UID-315 - 9578,35554,"BASANSKY, Anton Aleksandrovich","ANTON BASANSXY, ALEKSANDROVICH"
4,4,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,UID-315 - 8518,31948,"TSELIKAVIETS, Iryna Aliaksandrawna","TSJLIKAVIETS, ALIAKSANDRAWNA IRYNA"
...,...,...,...,...,...,...,...,...,...,...
25,25,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 876,8334,"AL-RUBA, Dr. Khadim","AL-RUBA, Mr. Khadim"
26,26,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 2525,12926,"AL-BADRI, Dr. Ibrahim 'Awwad Ibrahim 'Ali","AL-BADRI, Mr. Ibrahim 'Awwad Ibrahim 'Ali"
27,27,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 671,7899,"VASIC, Dragomir","VASIC, Mragomir"
28,28,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 725,8111,"BASEVIC, Dragan","BASEVIC, Mragan"
29,29,UID-640,Different Name Parts,Title,1 Title difference,Individual,UID-640 - 492,7700,"JOKIC, Dragan","JOKIC, Mragan"