# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
import random
import re
from test_case_generator_functions import separate_words_in_name_2,separate_words_in_name_3, special_characters,alphabet, characters_digital

s

In [2]:
df = pd.read_excel('GWU Test Case Type Tracker_ABCNY.XLSX')

C:\Users\jrblu\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [3]:
df['Student'].unique()

array(['Yuki Wu', 'Yingying Liu', 'Shuning Ma', 'Bohao He', 'Xuan Zhao',
       'Wenyuan Zou'], dtype=object)

In [4]:
bh=df[df['Student']=='Bohao He']
bhin = bh[bh['Entity Type']=='Individual']
bhve = bh[bh['Entity Type']=='Vessel']

In [5]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

# TEST CASE TYPE REFERENCE INFORMATION

In [6]:
uid_list_in = list(bhin.UID)
uid_list_ve = list(bhve.UID)
#entity_type_list = ['Country', 'Entity', 'Individual']
#for i in range(440,509):
#    uid_list_in.append('UID-{0}'.format(i)) 
#for j in range(509,549):
#    uid_list_ve.append('UID-{0}'.format(j))
#theme = 'IDs'
#category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
#sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
#entity_type = ['Individual','Vessel']

## download the OFAC list from the web

In [7]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10998,39704,VISTA CLARA SHIPPING CORPORATION,-0-,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Secondary sanctions risk: section 1(b) of Exec...
10999,39709,BUSHEHR PRISON,-0-,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Additional Sanctions Information - Subject to ...
11000,39710,"OSTAD, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 22 Jun 1975; nationality Iran; Additional ...
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 1956; alt. DOB 1957; POB Iran; nationality...
11002,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#select rows contain rob
ofac_list_download_dob=ofac_list_download[ofac_list_download[11].str.contains('DOB')==True]

In [9]:
ofac_list_download_dob

,0,1,2,3,4,5,6,7,8,9,10,11
53,2674,"ABBAS, Abu",individual,SDGT,Director of PALESTINE LIBERATION FRONT - ABU A...,-0-,-0-,-0-,-0-,-0-,-0-,DOB 10 Dec 1948; Director of PALESTINE LIBERAT...
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,SDGT,Chief Ideological Figure of ISLAMIC GAMA'AT,-0-,-0-,-0-,-0-,-0-,-0-,DOB 03 May 1938; POB Egypt; Chief Ideological ...
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,SDGT,Operational and Military Leader of JIHAD GROUP,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 19 Jun 1951; POB Giza, Egypt; Passport 108..."
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 19 Apr 1947; POB Nahia, Giza, Egypt; natio..."
57,2678,"AWDA, Abd Al Aziz",individual,SDGT,Chief Ideological Figure of PALESTINIAN ISLAMI...,-0-,-0-,-0-,-0-,-0-,-0-,DOB 1946; Chief Ideological Figure of PALESTIN...
...,...,...,...,...,...,...,...,...,...,...,...,...
10978,39680,"PIRI, Morteza",individual,IRAN-HR,Warden of Zahedan Central Prison,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 05 Jul 1977; POB Zabol, Sistan and Baluchi..."
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,IRAN-HR,Director-General of Sistan and Baluchistan Pro...,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 23 Sep 1974; POB Birjand, South Khorasan P..."
10992,39697,"FAZZONE, Gregorio",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 13 Nov 1959; alt. DOB 31 Dec 1959; nationa...
11000,39710,"OSTAD, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 22 Jun 1975; nationality Iran; Additional ...
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,CAATSA - IRAN,-0-,-0-,-0-,-0-,-0-,-0-,-0-,DOB 1956; alt. DOB 1957; POB Iran; nationality...

In [10]:
ofac_list = ofac_list_download[[0,1,2,11]]
ofac_list.columns = ['uid', 'name', 'entity_type','DOB']
ofac_list_dob = ofac_list[ofac_list['DOB'].str.contains('DOB')==True]
#business = list(ofac_list.iloc[0])[2]
#ofac_list['entity_type'] = ofac_list['entity_type'].apply(lambda x:'Business' if x==business else x)

In [11]:
ofac_list

,uid,name,entity_type,DOB
0,36,AEROCARIBBEAN AIRLINES,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,-0-
4,475,CASA DE CUBA,-0-,-0-
...,...,...,...,...
10998,39704,VISTA CLARA SHIPPING CORPORATION,-0-,Secondary sanctions risk: section 1(b) of Exec...
10999,39709,BUSHEHR PRISON,-0-,Additional Sanctions Information - Subject to ...
11000,39710,"OSTAD, Mohammad Reza",individual,DOB 22 Jun 1975; nationality Iran; Additional ...
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,DOB 1956; alt. DOB 1957; POB Iran; nationality...
11002,,NaN,NaN,NaN

In [12]:
ofac_list_dob.iloc[20]['DOB'].split(';')

['DOB 06 Nov 1966',
 ' Cedula No. 72139939 (Colombia)',
 ' Passport T705915 (Colombia)',
 ' alt. Passport AC143719 (Colombia).']

In [13]:
ofac_list['entity_type'].value_counts()

individual    5756
-0-           4434
vessel         526
aircraft       286
Name: entity_type, dtype: int64

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [14]:
ofac_list_filtered_in = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals
#ofac_list_filtered_in = ofac_list_filtered_in[(ofac_list_filtered_in.name.str.count(' ') < 3)]

In [15]:
ofac_list_filtered_ve = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate Vessels

# CREATE THE TEST CASES

## create blank final test cases table

In [16]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [17]:
def uid_info(uid):
    theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
    category = list(bhin[bhin['UID']==uid]['Category'])[0]
    sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
    entity_type = ['Individual','Vessel']
    return[theme,category,sub_category,entity_type]

# UID-461

In [18]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [19]:
def month_dict():
    dic = {'Jan':'01','Feb':'02','Mar':'03',
           'Apr':'04','May':'05','Jun':'06',
           'Jul':'07','Aug':'08','Sep':'09',
           'Oct':'10','Nov':'11','Dec':'12'}
    return dic

In [20]:
ofac_list_dob_filtered = ofac_list_dob.copy()
#extract date of birth
ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : (x.split(';')[0])[4:])
ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : (x.split('to')[0]) if re.search('to',x) else x)
for i in month_dict().keys():
    ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : re.sub(i,month_dict()[i],x) if re.search(i,x) else x)
ofac_list_dob_filtered['DOB']=ofac_list_dob_filtered['DOB'].apply(lambda x : (x.split('circa')[1]) if re.search('circa',x) else x)

In [21]:
count=[]
for i in range(len(ofac_list_dob_filtered)):
    count.append(len(ofac_list_dob_filtered.iloc[i]['DOB'].split(' ')))
ofac_list_dob_filtered['count'] = ofac_list_dob_filtered['DOB'].apply(lambda x:len(x.split(' ')))

In [22]:
ofac_list_dob_filtered

,uid,name,entity_type,DOB,count
53,2674,"ABBAS, Abu",individual,10 12 1948,3
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,03 05 1938,3
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,19 06 1951,3
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,19 04 1947,3
57,2678,"AWDA, Abd Al Aziz",individual,1946,1
...,...,...,...,...,...
10978,39680,"PIRI, Morteza",individual,05 07 1977,3
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,23 09 1974,3
10992,39697,"FAZZONE, Gregorio",individual,13 11 1959,3
11000,39710,"OSTAD, Mohammad Reza",individual,22 06 1975,3
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,1956,1

In [23]:
ofac_list_dob_mdy = ofac_list_dob_filtered.copy()
ofac_list_dob_my = ofac_list_dob_filtered.copy()
#ofac_list_dob_mdy = ofac_list_dob_filtered[ofac_list_dob_filtered['count']==3]
ofac_list_dob_mdy['DOB']=ofac_list_dob_mdy['DOB'].apply(lambda x:re.sub(' ','/',x))
ofac_list_dob_mdy

,uid,name,entity_type,DOB,count
53,2674,"ABBAS, Abu",individual,10/12/1948,3
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,03/05/1938,3
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,19/06/1951,3
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,19/04/1947,3
57,2678,"AWDA, Abd Al Aziz",individual,1946,1
...,...,...,...,...,...
10978,39680,"PIRI, Morteza",individual,05/07/1977,3
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,23/09/1974,3
10992,39697,"FAZZONE, Gregorio",individual,13/11/1959,3
11000,39710,"OSTAD, Mohammad Reza",individual,22/06/1975,3
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,1956,1

In [24]:
ofac_list_dob_mmdy = ofac_list_dob_mdy[ofac_list_dob_mdy['DOB'].str.count('/')==2]
ofac_list_dob_mmdy['DOB']=ofac_list_dob_mmdy['DOB'].apply(lambda x:x[-4:])
ofac_list_dob_mmdy

C:\Users\jrblu\AppData\Local\Temp\ipykernel_11020\3991019012.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list_dob_mmdy['DOB']=ofac_list_dob_mmdy['DOB'].apply(lambda x:x[-4:])

         uid                                 name entity_type   DOB  count
53      2674                           ABBAS, Abu  individual  1948      3
54      2675           AL RAHMAN, Shaykh Umar Abd  individual  1938      3
55      2676               AL ZAWAHIRI, Dr. Ayman  individual  1951      3
56      2677  AL-ZOMOR, Abboud Abdul Latif Hassan  individual  1947      3
60      2682          ISLAMBOULI, Mohammad Shawqi  individual  1955      3
...      ...                                  ...         ...   ...    ...
10974  39676                         FATHI, Murad  individual  1971      3
10978  39680                        PIRI, Morteza  individual  1977      3
10989  39694           KHOSRAVI, Mohammad Hossein  individual  1974      3
10992  39697                    FAZZONE, Gregorio  individual  1959      3
11000  39710                 OSTAD, Mohammad Reza  individual  1975      3

[4754 rows x 5 columns]

In [25]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
uid='UID-461'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_dob_mmdy.sample(n = 10)
ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:int(x)+random.randint(-5,5))
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name']
    name_pice = row['name'].split(',')
    final_test_name =''
    while len(name_pice)>0:
        n=random.choice(name_pice)
        final_test_name=final_test_name+' '+n
        name_pice.remove(n)
        final_test_name=final_test_name.upper()
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name+' '+str(row['DOB'])] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 1344,10139,"RADKOV, Aleksandr Mikhailovich",RADKOV ALEKSANDR MIKHAILOVICH 1952
1,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7317,27430,"VIZCAINO GIL, Gustavo Adolfo",GUSTAVO ADOLFO VIZCAINO GIL 1969
2,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3656,16917,"NEVEROV, Sergey Ivanovich",NEVEROV SERGEY IVANOVICH 1963
3,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 561,7783,"SAINOVIC, Nikola",NIKOLA SAINOVIC 1943
4,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8737,32764,"OO, Tin",TIN OO 1951
5,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8062,30169,"WARAICH, Choudry Ikram",CHOUDRY IKRAM WARAICH 1986
6,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 382,7482,"CHARAMBA, George",CHARAMBA GEORGE 1965
7,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 506,7716,"KUNARAC, Dragoljub",DRAGOLJUB KUNARAC 1964
8,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7226,27209,"CHOE, Myong Hyon",MYONG HYON CHOE 1961
9,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3344,16170,"RIVERA MARADIAGA, Devis Leonel",DEVIS LEONEL RIVERA MARADIAGA 1972

In [26]:
#uid='UID-451'
#theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
#category = list(bhin[bhin['UID']==uid]['Category'])[0]
#sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
#entity_type = ['Individual','Vessel']
#ofac_list_sampled = ofac_list_dob_mdy.sample(n = 10)
#for index, row in ofac_list_sampled.iterrows():
#    original_name = row['name']
#    name_pice = row['name'].split(',')
#    final_test_name =''
#    while len(name_pice)>0:
#        n=random.choice(name_pice)
#        final_test_name=final_test_name+' '+n
#        name_pice.remove(n)
#        final_test_name=final_test_name.upper()
#    
#    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name+' '+row['DOB']] # append to the dataframe
#
#final_test_cases

In [27]:
ofac_list_dob_mdy

,uid,name,entity_type,DOB,count
53,2674,"ABBAS, Abu",individual,10/12/1948,3
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,03/05/1938,3
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,19/06/1951,3
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,19/04/1947,3
57,2678,"AWDA, Abd Al Aziz",individual,1946,1
...,...,...,...,...,...
10978,39680,"PIRI, Morteza",individual,05/07/1977,3
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,23/09/1974,3
10992,39697,"FAZZONE, Gregorio",individual,13/11/1959,3
11000,39710,"OSTAD, Mohammad Reza",individual,22/06/1975,3
11001,39711,"MIRHEYDARY, Mohammad Reza",individual,1956,1

# UID-462

In [28]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [29]:
ofac_list_dob_mmdy = ofac_list_dob_mdy[ofac_list_dob_mdy['DOB'].str.count('/')==2]
ofac_list_dob_mmdy['DOB']=ofac_list_dob_mmdy['DOB'].apply(lambda x:x[0:2]+'/'+x[3:5]+'/'+x[8:])
ofac_list_dob_mmdy

C:\Users\jrblu\AppData\Local\Temp\ipykernel_11020\2129984339.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list_dob_mmdy['DOB']=ofac_list_dob_mmdy['DOB'].apply(lambda x:x[0:2]+'/'+x[3:5]+'/'+x[8:])

         uid                                 name entity_type       DOB  count
53      2674                           ABBAS, Abu  individual  10/12/48      3
54      2675           AL RAHMAN, Shaykh Umar Abd  individual  03/05/38      3
55      2676               AL ZAWAHIRI, Dr. Ayman  individual  19/06/51      3
56      2677  AL-ZOMOR, Abboud Abdul Latif Hassan  individual  19/04/47      3
60      2682          ISLAMBOULI, Mohammad Shawqi  individual  15/01/55      3
...      ...                                  ...         ...       ...    ...
10974  39676                         FATHI, Murad  individual  20/05/71      3
10978  39680                        PIRI, Morteza  individual  05/07/77      3
10989  39694           KHOSRAVI, Mohammad Hossein  individual  23/09/74      3
10992  39697                    FAZZONE, Gregorio  individual  13/11/59      3
11000  39710                 OSTAD, Mohammad Reza  individual  22/06/75      3

[4754 rows x 5 columns]

In [30]:
#final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
uid='UID-462'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_dob_mmdy.sample(n = 10)
ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:x[0:6]+str(int(x[6:])+random.randint(-5,5)))
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name']
    name_pice = row['name'].split(',')
    final_test_name =''
    while len(name_pice)>0:
        n=random.choice(name_pice)
        final_test_name=final_test_name+' '+n
        name_pice.remove(n)
        final_test_name=final_test_name.upper()
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name+' '+row['DOB']] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 1344,10139,"RADKOV, Aleksandr Mikhailovich",RADKOV ALEKSANDR MIKHAILOVICH 1952
1,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7317,27430,"VIZCAINO GIL, Gustavo Adolfo",GUSTAVO ADOLFO VIZCAINO GIL 1969
2,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3656,16917,"NEVEROV, Sergey Ivanovich",NEVEROV SERGEY IVANOVICH 1963
3,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 561,7783,"SAINOVIC, Nikola",NIKOLA SAINOVIC 1943
4,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8737,32764,"OO, Tin",TIN OO 1951
5,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8062,30169,"WARAICH, Choudry Ikram",CHOUDRY IKRAM WARAICH 1986
6,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 382,7482,"CHARAMBA, George",CHARAMBA GEORGE 1965
7,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 506,7716,"KUNARAC, Dragoljub",DRAGOLJUB KUNARAC 1964
8,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7226,27209,"CHOE, Myong Hyon",MYONG HYON CHOE 1961
9,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3344,16170,"RIVERA MARADIAGA, Devis Leonel",DEVIS LEONEL RIVERA MARADIAGA 1972
10,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 5221,22254,"SUAREZ ANDERSON, Lourdes Benicia",SUAREZ ANDERSON LOURDES BENICIA 07/03/63
11,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2586,13058,"CHOUKA, Monir",MONIR CHOUKA 30/07/86
12,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 10948,39621,"KARIMI, Farzin",FARZIN KARIMI 07/12/94
13,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2023,11786,"QASEMI, Rostam",ROSTAM QASEMI 22/05/59
14,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 6799,26236,"ZHENG, Fujing",FUJING ZHENG 11/06/80
15,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3634,16861,"GAGLOEV, Mikhail Georgievich",MIKHAIL GEORGIEVICH GAGLOEV 17/02/61
16,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 8509,31939,"HTET, Kaung",KAUNG HTET 03/08/97
17,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3336,16140,"TABATABAEI, Seyyed Mohammad Ali Khatibi",TABATABAEI SEYYED MOHAMMAD ALI KHATIBI 27/09/51
18,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 7015,26715,"AL-RAWI, Muhammad Abd-al-Qadir Mutni Assaf",AL-RAWI MUHAMMAD ABD-AL-QADIR MUTNI ASSAF 15...
19,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3889,17618,"KIM, Kwang Yon",KWANG YON KIM 30/07/70

# UID-463

In [31]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [32]:
ofac_list_dob_my = ofac_list_dob_mdy[ofac_list_dob_mdy['DOB'].str.count('/')==2]
ofac_list_dob_my['DOB']=ofac_list_dob_my['DOB'].apply(lambda x:x[0:2]+'/'+x[3:5]+'/'+x[6:])
ofac_list_dob_my

C:\Users\jrblu\AppData\Local\Temp\ipykernel_11020\356320359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list_dob_my['DOB']=ofac_list_dob_my['DOB'].apply(lambda x:x[0:2]+'/'+x[3:5]+'/'+x[6:])

,uid,name,entity_type,DOB,count
53,2674,"ABBAS, Abu",individual,10/12/1948,3
54,2675,"AL RAHMAN, Shaykh Umar Abd",individual,03/05/1938,3
55,2676,"AL ZAWAHIRI, Dr. Ayman",individual,19/06/1951,3
56,2677,"AL-ZOMOR, Abboud Abdul Latif Hassan",individual,19/04/1947,3
60,2682,"ISLAMBOULI, Mohammad Shawqi",individual,15/01/1955,3
...,...,...,...,...,...
10974,39676,"FATHI, Murad",individual,20/05/1971,3
10978,39680,"PIRI, Morteza",individual,05/07/1977,3
10989,39694,"KHOSRAVI, Mohammad Hossein",individual,23/09/1974,3
10992,39697,"FAZZONE, Gregorio",individual,13/11/1959,3
11000,39710,"OSTAD, Mohammad Reza",individual,22/06/1975,3

In [33]:
uid='UID-463'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_dob_my.sample(n = 10)
ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:x[0:6]+str(int(x[6:])+random.randint(-5,5)))
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name']
    name_pice = row['name'].split(',')
    final_test_name =''
    while len(name_pice)>0:
        n=random.choice(name_pice)
        final_test_name=final_test_name+' '+n
        name_pice.remove(n)
        final_test_name=final_test_name.upper()
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name+' '+row['DOB']] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 1344,10139,"RADKOV, Aleksandr Mikhailovich",RADKOV ALEKSANDR MIKHAILOVICH 1952
1,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7317,27430,"VIZCAINO GIL, Gustavo Adolfo",GUSTAVO ADOLFO VIZCAINO GIL 1969
2,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3656,16917,"NEVEROV, Sergey Ivanovich",NEVEROV SERGEY IVANOVICH 1963
3,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 561,7783,"SAINOVIC, Nikola",NIKOLA SAINOVIC 1943
4,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8737,32764,"OO, Tin",TIN OO 1951
5,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8062,30169,"WARAICH, Choudry Ikram",CHOUDRY IKRAM WARAICH 1986
6,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 382,7482,"CHARAMBA, George",CHARAMBA GEORGE 1965
7,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 506,7716,"KUNARAC, Dragoljub",DRAGOLJUB KUNARAC 1964
8,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7226,27209,"CHOE, Myong Hyon",MYONG HYON CHOE 1961
9,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3344,16170,"RIVERA MARADIAGA, Devis Leonel",DEVIS LEONEL RIVERA MARADIAGA 1972
10,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 5221,22254,"SUAREZ ANDERSON, Lourdes Benicia",SUAREZ ANDERSON LOURDES BENICIA 07/03/63
11,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2586,13058,"CHOUKA, Monir",MONIR CHOUKA 30/07/86
12,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 10948,39621,"KARIMI, Farzin",FARZIN KARIMI 07/12/94
13,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2023,11786,"QASEMI, Rostam",ROSTAM QASEMI 22/05/59
14,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 6799,26236,"ZHENG, Fujing",FUJING ZHENG 11/06/80
15,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3634,16861,"GAGLOEV, Mikhail Georgievich",MIKHAIL GEORGIEVICH GAGLOEV 17/02/61
16,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 8509,31939,"HTET, Kaung",KAUNG HTET 03/08/97
17,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3336,16140,"TABATABAEI, Seyyed Mohammad Ali Khatibi",TABATABAEI SEYYED MOHAMMAD ALI KHATIBI 27/09/51
18,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 7015,26715,"AL-RAWI, Muhammad Abd-al-Qadir Mutni Assaf",AL-RAWI MUHAMMAD ABD-AL-QADIR MUTNI ASSAF 15...
19,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3889,17618,"KIM, Kwang Yon",KWANG YON KIM 30/07/70
20,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 6007,24526,"RONAGHI, Iraj",IRAJ RONAGHI 18/11/1955
21,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 382,7482,"CHARAMBA, George",GEORGE CHARAMBA 04/04/1959
22,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 288,7198,"VILA MICHELENA, Fermin",VILA MICHELENA FERMIN 12/03/1969
23,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 600,7828,"AMDOUNI, Mehrez",MEHREZ AMDOUNI 18/12/1974
24,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 4678,20943,"HAYDAR, Zuhayr",ZUHAYR HAYDAR 18/12/1960
25,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 7772,29071,"ALDABBAS, Rania",ALDABBAS RANIA 02/06/1977
26,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 9977,36362,"SAMOYLOV, Artem",ARTEM SAMOYLOV 07/07/1991
27,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 9292,35084,"TOKAREV, Nikolay Petrovich",TOKAREV NIKOLAY PETROVICH 20/12/1953
28,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 8466,31757,"SUBAYTI, Wahid Mahmud",SUBAYTI WAHID MAHMUD 23/02/1964
29,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 4733,21064,"ALVAREZ PERALTA, Fernando Gustavo",FERNANDO GUSTAVO ALVAREZ PERALTA 23/01/1957

# UID-464

In [34]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [35]:
ofac_list_dob_myy = ofac_list_dob_mdy[ofac_list_dob_mdy['DOB'].str.count('/')==2]
ofac_list_dob_myy['DOB']=ofac_list_dob_myy['DOB'].apply(lambda x:x[3:5]+'/'+x[0:2])
ofac_list_dob_myy

C:\Users\jrblu\AppData\Local\Temp\ipykernel_11020\2701324393.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list_dob_myy['DOB']=ofac_list_dob_myy['DOB'].apply(lambda x:x[3:5]+'/'+x[0:2])

         uid                                 name entity_type    DOB  count
53      2674                           ABBAS, Abu  individual  12/10      3
54      2675           AL RAHMAN, Shaykh Umar Abd  individual  05/03      3
55      2676               AL ZAWAHIRI, Dr. Ayman  individual  06/19      3
56      2677  AL-ZOMOR, Abboud Abdul Latif Hassan  individual  04/19      3
60      2682          ISLAMBOULI, Mohammad Shawqi  individual  01/15      3
...      ...                                  ...         ...    ...    ...
10974  39676                         FATHI, Murad  individual  05/20      3
10978  39680                        PIRI, Morteza  individual  07/05      3
10989  39694           KHOSRAVI, Mohammad Hossein  individual  09/23      3
10992  39697                    FAZZONE, Gregorio  individual  11/13      3
11000  39710                 OSTAD, Mohammad Reza  individual  06/22      3

[4754 rows x 5 columns]

In [36]:
uid='UID-464'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_dob_myy.sample(n = 10)
ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:str(int(x[0:2])+random.randint(-2,2))+x[2:])
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name']
    name_pice = row['name'].split(',')
    final_test_name =''
    while len(name_pice)>0:
        n=random.choice(name_pice)
        final_test_name=final_test_name+' '+n
        name_pice.remove(n)
        final_test_name=final_test_name.upper()
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name+' '+row['DOB']] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 1344,10139,"RADKOV, Aleksandr Mikhailovich",RADKOV ALEKSANDR MIKHAILOVICH 1952
1,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7317,27430,"VIZCAINO GIL, Gustavo Adolfo",GUSTAVO ADOLFO VIZCAINO GIL 1969
2,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3656,16917,"NEVEROV, Sergey Ivanovich",NEVEROV SERGEY IVANOVICH 1963
3,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 561,7783,"SAINOVIC, Nikola",NIKOLA SAINOVIC 1943
4,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8737,32764,"OO, Tin",TIN OO 1951
5,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8062,30169,"WARAICH, Choudry Ikram",CHOUDRY IKRAM WARAICH 1986
6,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 382,7482,"CHARAMBA, George",CHARAMBA GEORGE 1965
7,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 506,7716,"KUNARAC, Dragoljub",DRAGOLJUB KUNARAC 1964
8,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7226,27209,"CHOE, Myong Hyon",MYONG HYON CHOE 1961
9,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3344,16170,"RIVERA MARADIAGA, Devis Leonel",DEVIS LEONEL RIVERA MARADIAGA 1972
10,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 5221,22254,"SUAREZ ANDERSON, Lourdes Benicia",SUAREZ ANDERSON LOURDES BENICIA 07/03/63
11,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2586,13058,"CHOUKA, Monir",MONIR CHOUKA 30/07/86
12,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 10948,39621,"KARIMI, Farzin",FARZIN KARIMI 07/12/94
13,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2023,11786,"QASEMI, Rostam",ROSTAM QASEMI 22/05/59
14,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 6799,26236,"ZHENG, Fujing",FUJING ZHENG 11/06/80
15,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3634,16861,"GAGLOEV, Mikhail Georgievich",MIKHAIL GEORGIEVICH GAGLOEV 17/02/61
16,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 8509,31939,"HTET, Kaung",KAUNG HTET 03/08/97
17,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3336,16140,"TABATABAEI, Seyyed Mohammad Ali Khatibi",TABATABAEI SEYYED MOHAMMAD ALI KHATIBI 27/09/51
18,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 7015,26715,"AL-RAWI, Muhammad Abd-al-Qadir Mutni Assaf",AL-RAWI MUHAMMAD ABD-AL-QADIR MUTNI ASSAF 15...
19,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3889,17618,"KIM, Kwang Yon",KWANG YON KIM 30/07/70
20,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 6007,24526,"RONAGHI, Iraj",IRAJ RONAGHI 18/11/1955
21,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 382,7482,"CHARAMBA, George",GEORGE CHARAMBA 04/04/1959
22,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 288,7198,"VILA MICHELENA, Fermin",VILA MICHELENA FERMIN 12/03/1969
23,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 600,7828,"AMDOUNI, Mehrez",MEHREZ AMDOUNI 18/12/1974
24,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 4678,20943,"HAYDAR, Zuhayr",ZUHAYR HAYDAR 18/12/1960
25,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 7772,29071,"ALDABBAS, Rania",ALDABBAS RANIA 02/06/1977
26,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 9977,36362,"SAMOYLOV, Artem",ARTEM SAMOYLOV 07/07/1991
27,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 9292,35084,"TOKAREV, Nikolay Petrovich",TOKAREV NIKOLAY PETROVICH 20/12/1953
28,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 8466,31757,"SUBAYTI, Wahid Mahmud",SUBAYTI WAHID MAHMUD 23/02/1964
29,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 4733,21064,"ALVAREZ PERALTA, Fernando Gustavo",FERNANDO GUSTAVO ALVAREZ PERALTA 23/01/1957
30,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 554,7775,"RADIC, Miroslav",RADIC MIROSLAV 0/01
31,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 6350,25443,"CHAGHAZARDY, Mohammad Kazem",MOHAMMAD KAZEM CHAGHAZARDY -1/21
32,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 8242,30616,"DUGAZAEV, Timur",TIMUR DUGAZAEV 7/18
33,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 9339,35236,"OSADCHIY, Nikolay Ivanovich",OSADCHIY NIKOLAY IVANOVICH 12/08
34,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 4233,18969,"RIVERA SANDOVAL, Hector Librado",RIVERA SANDOVAL HECTOR LIBRADO 8/03
35,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 7118,26947,"LUGO GOMEZ, Eustiquio Jose",EUSTIQUIO JOSE LUGO GOMEZ 1/09
36,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 10737,38166,"POPOVA, Natalya Valeryevna",POPOVA NATALYA VALERYEVNA 5/28
37,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 1447,10375,"AL-AHMAD, Ahmad Muhammad Yunis",AL-AHMAD AHMAD MUHAMMAD YUNIS 8/19
38,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 4049,18323,"KURCHENKO, Sergey Vitalievich",KURCHENKO SERGEY VITALIEVICH 7/21
39,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 9598,35574,"BUTSKAYA, Tatiana Viktorovna",BUTSKAYA TATIANA VIKTOROVNA 5/08

# UID-465

In [37]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [38]:
ofac_list_dob_ydm = ofac_list_dob_mdy[ofac_list_dob_mdy['DOB'].str.count('/')==2]
ofac_list_dob_ydm['DOB']=ofac_list_dob_ydm['DOB'].apply(lambda x:x[3:5]+'/'+x[0:2]+'/'+x[8:])
ofac_list_dob_ydm

C:\Users\jrblu\AppData\Local\Temp\ipykernel_11020\3545503898.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list_dob_ydm['DOB']=ofac_list_dob_ydm['DOB'].apply(lambda x:x[3:5]+'/'+x[0:2]+'/'+x[8:])

         uid                                 name entity_type       DOB  count
53      2674                           ABBAS, Abu  individual  12/10/48      3
54      2675           AL RAHMAN, Shaykh Umar Abd  individual  05/03/38      3
55      2676               AL ZAWAHIRI, Dr. Ayman  individual  06/19/51      3
56      2677  AL-ZOMOR, Abboud Abdul Latif Hassan  individual  04/19/47      3
60      2682          ISLAMBOULI, Mohammad Shawqi  individual  01/15/55      3
...      ...                                  ...         ...       ...    ...
10974  39676                         FATHI, Murad  individual  05/20/71      3
10978  39680                        PIRI, Morteza  individual  07/05/77      3
10989  39694           KHOSRAVI, Mohammad Hossein  individual  09/23/74      3
10992  39697                    FAZZONE, Gregorio  individual  11/13/59      3
11000  39710                 OSTAD, Mohammad Reza  individual  06/22/75      3

[4754 rows x 5 columns]

In [39]:
uid='UID-465'
theme = list(bhin[bhin['UID']==uid]['Theme'])[0]
category = list(bhin[bhin['UID']==uid]['Category'])[0]
sub_category = list(bhin[bhin['UID']==uid]['Subcategory'])[0]
entity_type = ['Individual','Vessel']
ofac_list_sampled = ofac_list_dob_ydm.sample(n = 10)
ofac_list_sampled['DOB']=ofac_list_sampled['DOB'].apply(lambda x:str(int(x[0:2])+random.randint(-2,2))+'/'+str(int(x[3:5])+random.randint(-5,5))+'/'+str(int(x[6:])+random.randint(-5,5)))
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name']
    name_pice = row['name'].split(',')
    final_test_name =''
    while len(name_pice)>0:
        n=random.choice(name_pice)
        final_test_name=final_test_name+' '+n
        name_pice.remove(n)
        final_test_name=final_test_name.upper()
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type[0], uid + ' - ' + str(index), row['uid'], row['name'], final_test_name+' '+row['DOB']] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 1344,10139,"RADKOV, Aleksandr Mikhailovich",RADKOV ALEKSANDR MIKHAILOVICH 1952
1,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7317,27430,"VIZCAINO GIL, Gustavo Adolfo",GUSTAVO ADOLFO VIZCAINO GIL 1969
2,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3656,16917,"NEVEROV, Sergey Ivanovich",NEVEROV SERGEY IVANOVICH 1963
3,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 561,7783,"SAINOVIC, Nikola",NIKOLA SAINOVIC 1943
4,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8737,32764,"OO, Tin",TIN OO 1951
5,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 8062,30169,"WARAICH, Choudry Ikram",CHOUDRY IKRAM WARAICH 1986
6,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 382,7482,"CHARAMBA, George",CHARAMBA GEORGE 1965
7,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 506,7716,"KUNARAC, Dragoljub",DRAGOLJUB KUNARAC 1964
8,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 7226,27209,"CHOE, Myong Hyon",MYONG HYON CHOE 1961
9,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,UID-461 - 3344,16170,"RIVERA MARADIAGA, Devis Leonel",DEVIS LEONEL RIVERA MARADIAGA 1972
10,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 5221,22254,"SUAREZ ANDERSON, Lourdes Benicia",SUAREZ ANDERSON LOURDES BENICIA 07/03/63
11,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2586,13058,"CHOUKA, Monir",MONIR CHOUKA 30/07/86
12,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 10948,39621,"KARIMI, Farzin",FARZIN KARIMI 07/12/94
13,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 2023,11786,"QASEMI, Rostam",ROSTAM QASEMI 22/05/59
14,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 6799,26236,"ZHENG, Fujing",FUJING ZHENG 11/06/80
15,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3634,16861,"GAGLOEV, Mikhail Georgievich",MIKHAIL GEORGIEVICH GAGLOEV 17/02/61
16,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 8509,31939,"HTET, Kaung",KAUNG HTET 03/08/97
17,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3336,16140,"TABATABAEI, Seyyed Mohammad Ali Khatibi",TABATABAEI SEYYED MOHAMMAD ALI KHATIBI 27/09/51
18,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 7015,26715,"AL-RAWI, Muhammad Abd-al-Qadir Mutni Assaf",AL-RAWI MUHAMMAD ABD-AL-QADIR MUTNI ASSAF 15...
19,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,UID-462 - 3889,17618,"KIM, Kwang Yon",KWANG YON KIM 30/07/70
20,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 6007,24526,"RONAGHI, Iraj",IRAJ RONAGHI 18/11/1955
21,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 382,7482,"CHARAMBA, George",GEORGE CHARAMBA 04/04/1959
22,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 288,7198,"VILA MICHELENA, Fermin",VILA MICHELENA FERMIN 12/03/1969
23,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 600,7828,"AMDOUNI, Mehrez",MEHREZ AMDOUNI 18/12/1974
24,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 4678,20943,"HAYDAR, Zuhayr",ZUHAYR HAYDAR 18/12/1960
25,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 7772,29071,"ALDABBAS, Rania",ALDABBAS RANIA 02/06/1977
26,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 9977,36362,"SAMOYLOV, Artem",ARTEM SAMOYLOV 07/07/1991
27,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 9292,35084,"TOKAREV, Nikolay Petrovich",TOKAREV NIKOLAY PETROVICH 20/12/1953
28,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 8466,31757,"SUBAYTI, Wahid Mahmud",SUBAYTI WAHID MAHMUD 23/02/1964
29,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,UID-463 - 4733,21064,"ALVAREZ PERALTA, Fernando Gustavo",FERNANDO GUSTAVO ALVAREZ PERALTA 23/01/1957
30,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 554,7775,"RADIC, Miroslav",RADIC MIROSLAV 0/01
31,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 6350,25443,"CHAGHAZARDY, Mohammad Kazem",MOHAMMAD KAZEM CHAGHAZARDY -1/21
32,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 8242,30616,"DUGAZAEV, Timur",TIMUR DUGAZAEV 7/18
33,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 9339,35236,"OSADCHIY, Nikolay Ivanovich",OSADCHIY NIKOLAY IVANOVICH 12/08
34,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 4233,18969,"RIVERA SANDOVAL, Hector Librado",RIVERA SANDOVAL HECTOR LIBRADO 8/03
35,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 7118,26947,"LUGO GOMEZ, Eustiquio Jose",EUSTIQUIO JOSE LUGO GOMEZ 1/09
36,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 10737,38166,"POPOVA, Natalya Valeryevna",POPOVA NATALYA VALERYEVNA 5/28
37,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 1447,10375,"AL-AHMAD, Ahmad Muhammad Yunis",AL-AHMAD AHMAD MUHAMMAD YUNIS 8/19
38,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 4049,18323,"KURCHENKO, Sergey Vitalievich",KURCHENKO SERGEY VITALIEVICH 7/21
39,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,UID-464 - 9598,35574,"BUTSKAYA, Tatiana Viktorovna",BUTSKAYA TATIANA VIKTOROVNA 5/08
40,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 8522,31952,"AL-FAY, Idris 'Ali 'Awwad",IDRIS 'ALI 'AWWAD AL-FAY 6/6/76
41,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 9598,35574,"BUTSKAYA, Tatiana Viktorovna",BUTSKAYA TATIANA VIKTOROVNA 6/3/74
42,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 7282,27305,"KUMAR, Akhilesh",AKHILESH KUMAR 5/19/81
43,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 5082,22052,"MUHAMMAD, Faysal",MUHAMMAD FAYSAL 3/18/62
44,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 5112,22082,"QUDAYMATI, Muhammad Ridwan",MUHAMMAD RIDWAN QUDAYMATI 3/8/64
45,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 3256,15967,"VAZIRI, Hossein Nosratollah",VAZIRI HOSSEIN NOSRATOLLAH 2/24/62
46,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 7956,29826,"MIRZAEI, Reza",REZA MIRZAEI 4/16/97
47,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 5203,22173,"MAWAS, Milad",MILAD MAWAS 13/21/88
48,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 7976,29847,"HEJABI, Mahdi",HEJABI MAHDI 9/24/85
49,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,UID-465 - 6720,26126,"YAGHOUBI MIAB, Hossein",YAGHOUBI MIAB HOSSEIN 8/24/61

In [40]:
bhin

,UID,Theme,Category,Subcategory,Entity Type,Example Original Name,Example Test Case Name,Student,Status,Notes,Unnamed: 10,Team Members,Work Allocation
314,UID-315,Names where Name Parts are Modified,Typos,Typo noise name parts,Individual,"Han, Jang Su",JANG SO HAN,Bohao He,complete,"Noise words include but not limited to = [von,...",NaN,NaN,NaN
316,UID-317,Names where Name Parts are Modified,Typos,Very Short Name,Individual,"Bitar, Ahd",AHD BIRAR,Bohao He,complete,NaN,NaN,NaN,NaN
321,UID-322,Special Characters and Spaces,Addition,>2 special characters added,Individual,"Kovtun, Dmitri",DMI&T#RI K!OVTUN,Bohao He,complete,NaN,NaN,NaN,NaN
324,UID-325,Special Characters and Spaces,Addition,1 special character added,Individual,"Liu, Emily",EMILY LIU@,Bohao He,complete,NaN,NaN,NaN,NaN
426,UID-440,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
427,UID-441,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
428,UID-442,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
429,UID-443,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
430,UID-444,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
431,UID-445,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKOB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
432,UID-446,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
433,UID-447,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
434,UID-448,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
435,UID-449,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKOB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
436,UID-450,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
437,UID-451,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKOB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
438,UID-452,IDs,Name and DOB Matching - with slash (/),Exact Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
439,UID-453,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-41,Bohao He,complete,NaN,NaN,NaN,NaN
440,UID-454,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27-04-1941,Bohao He,complete,NaN,NaN,NaN,NaN
441,UID-455,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 06-11,Bohao He,complete,NaN,NaN,NaN,NaN
442,UID-456,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-41,Bohao He,complete,NaN,NaN,NaN,NaN
443,UID-457,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-06-1957,Bohao He,complete,NaN,NaN,NaN,NaN
444,UID-458,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-41,Bohao He,complete,NaN,NaN,NaN,NaN
445,UID-459,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1957,Bohao He,complete,NaN,NaN,NaN,NaN
446,UID-460,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 41-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
447,UID-461,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Exact DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1957,Bohao He,complete,NaN,NaN,NaN,NaN
448,UID-462,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YY,Individual,"Varela, Wilber",WILBER VARRELA 06-11-59,Bohao He,complete,NaN,NaN,NaN,NaN
449,UID-463,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in DD-MM-YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-27-1943,Bohao He,complete,NaN,NaN,NaN,NaN
450,UID-464,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD,Individual,"Varela, Wilber",WILBER VARRELA 09-11,Bohao He,complete,NaN,NaN,NaN,NaN
451,UID-465,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 06-27-43,Bohao He,complete,NaN,NaN,NaN,NaN
452,UID-466,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-DD-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 9-06-1959,Bohao He,complete,NaN,NaN,NaN,NaN
453,UID-467,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04-44,Bohao He,complete,NaN,NaN,NaN,NaN
454,UID-468,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in MM-YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11-1959,Bohao He,complete,NaN,NaN,NaN,NaN
455,UID-469,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YY-DD-MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45-27-04,Bohao He,complete,NaN,NaN,NaN,NaN
456,UID-470,IDs,Name and DOB Matching - With Hyphen (-),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1959,Bohao He,complete,NaN,NaN,NaN,NaN
457,UID-471,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/43,Bohao He,complete,NaN,NaN,NaN,NaN
458,UID-472,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in DD/MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/1957,Bohao He,complete,NaN,NaN,NaN,NaN
459,UID-473,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27,Bohao He,complete,NaN,NaN,NaN,NaN
460,UID-474,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/57,Bohao He,complete,NaN,NaN,NaN,NaN
461,UID-475,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/DD/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/27/1941,Bohao He,complete,NaN,NaN,NaN,NaN
462,UID-476,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 11/57,Bohao He,complete,NaN,NaN,NaN,NaN
463,UID-477,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/1941,Bohao He,complete,NaN,NaN,NaN,NaN
464,UID-478,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Exact DOB in YY/DD/MM,Individual,"Varela, Wilber",WILBER VARRELA 57/06/11,Bohao He,complete,NaN,NaN,NaN,NaN
465,UID-479,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YY,Individual,"Varela, Wilber",WILBER VARRELA 06/11/59,Bohao He,complete,NaN,NaN,NaN,NaN
466,UID-480,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in DD/MM/YYYY,Individual,"Steiger, Jakob",JAKUB STEIGER 27/04/1944,Bohao He,complete,NaN,NaN,NaN,NaN
467,UID-481,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD,Individual,"Varela, Wilber",WILBER VARRELA 09/06,Bohao He,complete,NaN,NaN,NaN,NaN
468,UID-482,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 09/27/1944,Bohao He,complete,NaN,NaN,NaN,NaN
469,UID-483,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/DD/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/06/1959,Bohao He,complete,NaN,NaN,NaN,NaN
470,UID-484,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YY,Individual,"Steiger, Jakob",JAKUB STEIGER 04/45,Bohao He,complete,NaN,NaN,NaN,NaN
471,UID-485,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in MM/YYYY,Individual,"Varela, Wilber",WILBER VARRELA 11/1959,Bohao He,complete,NaN,NaN,NaN,NaN
472,UID-486,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YY/DD/MM,Individual,"Steiger, Jakob",JAKUB STEIGER 45/27/04,Bohao He,complete,NaN,NaN,NaN,NaN
473,UID-487,IDs,Name and DOB Matching - with slash (/),Fuzzy Name and Out of range DOB in YYYY,Individual,"Varela, Wilber",WILBER VARRELA 1955,Bohao He,complete,NaN,NaN,NaN,NaN
604,UID-639,Negative Control,No Match,100% false match,Individual,"TUFAYLI, Subhi","Anderson, John",Bohao He,NaN,NaN,NaN,NaN,NaN
605,UID-640,Different Name Parts,Title,1 Title difference,Individual,"AL ZAWAHIRI, Dr. Ayman","AL ZAWAHIRI, Mr. Ayman",Bohao He,NaN,NaN,NaN,NaN,NaN
606,UID-641,IDs,Name and DOB Matching - with slash (/),Exact Name and Exact DOB in YYYY,Individual,"ANGULO OROBIO (SEGUNDO), Jose Francisco","ANGULO OROBIO (SEGUNDO), Jose Francisco 1964",Bohao He,NaN,NaN,NaN,NaN,NaN

In [41]:
final_test_cases.to_csv('bhin6.csv')