# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet, num_of_alphabet, rand_letter

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-305' 
theme = 'Names where name parts are Modified'
category = 'Typos'
sub_category = '2 typos different name parts'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10892,39438,"NEJAT, Hossein",individual,IRGC] [IFSR] [IRAN-HR,IRGC Brigadier General,-0-,-0-,-0-,-0-,-0-,-0-,"DOB Mar 1955 to Mar 1956; POB Shiraz, Iran; na..."
10893,39439,"SAJEDINIA, Hossein",individual,IRAN-HR,Deputy Operations Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 21 Mar 1962 to 20 Apr 1962; POB Isfahan, I..."
10894,39440,"RAHIMI, Hossein",individual,IRAN-HR,Police chief of Tehran,-0-,-0-,-0-,-0-,-0-,-0-,DOB Mar 1963 to Mar 1964; POB Markazi Province...
10895,39441,"JAVANI, Yadollah",individual,IRGC] [IFSR] [IRAN-HR,Deputy Political Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 1962; POB Isfahan, Iran; nationality Iran;..."
10896,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                       name entity_type
0         36     AEROCARIBBEAN AIRLINES        -0-
1        173  ANGLO-CARIBBEAN CO., LTD.        -0-
2        306     BANCO NACIONAL DE CUBA        -0-
3        424         BOUTIQUE LA MAISON        -0-
4        475               CASA DE CUBA        -0-
...      ...                        ...         ...
10892  39438             NEJAT, Hossein  individual
10893  39439         SAJEDINIA, Hossein  individual
10894  39440            RAHIMI, Hossein  individual
10895  39441           JAVANI, Yadollah  individual
10896                              NaN         NaN

[10897 rows x 3 columns]

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities
ofac_list_filtered

         uid                              name entity_type
0         36            AEROCARIBBEAN AIRLINES        -0-
1        173         ANGLO-CARIBBEAN CO., LTD.        -0-
2        306            BANCO NACIONAL DE CUBA        -0-
3        424                BOUTIQUE LA MAISON        -0-
4        475                      CASA DE CUBA        -0-
...      ...                               ...         ...
10884  39282              SOPHYCHEM HK LIMITED        -0-
10885  39283                CLARA SHIPPING LLC        -0-
10886  39356       NEW EASTERN SHIPPING CO LTD        -0-
10888  39358       ANFASAR TRADING S PTE. LTD.        -0-
10889  39359  SWANSEAS PORT SERVICES PTE. LTD.        -0-

[4394 rows x 3 columns]

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        for i in split_name:
            if all(j not in alphabet() for j in i):
                split_name.remove(i) # remove word with all numbers
                
        cnt[ind] += len(split_name)

    if all(i >= 2 for i in cnt):
        break

ofac_list_sampled

        uid                                           name entity_type
9265  35057                         CENTRAL RESERVE POLICE        -0-
4022  18286                                    VEB CAPITAL        -0-
6472  25618                              POST BANK OF IRAN        -0-
8134  30378  SINA FINANCIAL AND INVESTMENT HOLDING COMPANY        -0-
6652  25946           GHADIR REAL-TIME SYSTEMS DEVELOPMENT        -0-
314    7228            INTERNATIONAL SIKH YOUTH FEDERATION        -0-
9225  34988                                     OROFINO NV        -0-
6519  25681                     FIRST EAST EXPORT BANK PLC        -0-
5243  22323                          KOREA COMPUTER CENTER        -0-
233    7132                             UMMAH TAMEER E-NAU        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    
    final_test_name = split_original_name.copy()
    
    split_edit_name = []
    for i in split_original_name:
        if not all(j not in alphabet() for j in i):
            split_edit_name.append(i) # remove word with all numbers
    
    for i in range(2):
        modify_original_name = np.random.choice(split_edit_name) # randomly choose word to be replaced
        modify_index = original_name.split(' ').index(modify_original_name) # record index of chosen word
        split_edit_name.remove(modify_original_name) # remove chosen word
        
        modify_original_name = list(modify_original_name) # split word into letter
        replace_name = modify_original_name.copy()
        
        j = np.random.choice(list(range(len(replace_name))))
        while modify_original_name[j] not in alphabet(): # rerandom if not letter 
            j = np.random.choice(list(range(len(replace_name))))
        while replace_name[j] == modify_original_name[j]: # rerandom if no letter has been replaced
            replace_name[j] = rand_letter() # replace letter
        
        final_test_name[modify_index] = ''.join(replace_name)
    
    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 9265,35057,CENTRAL RESERVE POLICE,CENTRAL ROSERVE POFICE
1,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 4022,18286,VEB CAPITAL,VCB CAYITAL
2,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 6472,25618,POST BANK OF IRAN,POST BANN OF IGAN
3,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 8134,30378,SINA FINANCIAL AND INVESTMENT HOLDING COMPANY,SINA FINANCIAL UND INVESTMENT HOLDIBG COMPANY
4,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 6652,25946,GHADIR REAL-TIME SYSTEMS DEVELOPMENT,GGADIR REAL-TIME SYSTEMS DEVELOUMENT
5,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 314,7228,INTERNATIONAL SIKH YOUTH FEDERATION,INTEREATIONAL SIKH YOUTH BEDERATION
6,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 9225,34988,OROFINO NV,OIOFINO PV
7,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 6519,25681,FIRST EAST EXPORT BANK PLC,FIRST EASQ EXPORT BANK ULC
8,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 5243,22323,KOREA COMPUTER CENTER,KOREA COWPUTER WENTER
9,UID-305,Names where name parts are Modified,Typos,2 typos different name parts,Entity,UID-305 - 233,7132,UMMAH TAMEER E-NAU,UMMAH TAMKER E-OAU