# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet, rand_letter

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-299' 
theme = 'Names where name parts are Modified'
category = 'Typos'
sub_category = '1 Typo - any letter'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                                               name entity_type
5296   22606                          VELMUR MANAGEMENT PTE LTD        -0-
5944   24396                                      OTIK AVIATION        -0-
8298   30761                       ZARAND IRANIAN STEEL COMPANY        -0-
4161   18714              OPEN JOINT STOCK COMPANY BPS-SBERBANK        -0-
2069   11856                          INVERSIONES GANAGRO LTDA.        -0-
8049   30142                             MORVARID PETROCHEMICAL        -0-
10446  37426                   FOCUS MEDIA COMPANY SAL OFFSHORE        -0-
4835   21343                      MAIN INTELLIGENCE DIRECTORATE        -0-
9802   35872  JOINT STOCK COMPANY STATE MACHINE BUILDING DES...        -0-
10029  36458                                   OOO BITRIVER RUS        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    original_name_list = list(original_name) # transfer name string into letter list
    
    random_index = np.random.choice(list(range(len(original_name_list)))[1:-1]) # randomly choose letter to be replaced
    while original_name_list[random_index] not in alphabet(): # rerandom if not letter 
        random_index = np.random.choice(len(original_name_list))
    while original_name_list[random_index] == original_name[random_index]: # rerandom if no letter has been replaced
        original_name_list[random_index] = rand_letter() # replace letter

    final_test_name = ''.join(original_name_list)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 5296,22606,VELMUR MANAGEMENT PTE LTD,VELMUR MANAOEMENT PTE LTD
1,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 5944,24396,OTIK AVIATION,OTIK DVIATION
2,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 8298,30761,ZARAND IRANIAN STEEL COMPANY,ZARGND IRANIAN STEEL COMPANY
3,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 4161,18714,OPEN JOINT STOCK COMPANY BPS-SBERBANK,OPEN VOINT STOCK COMPANY BPS-SBERBANK
4,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 2069,11856,INVERSIONES GANAGRO LTDA.,INVERSIONES GANAGRO PTDA.
5,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 8049,30142,MORVARID PETROCHEMICAL,MORVARID PETROCHQMICAL
6,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 10446,37426,FOCUS MEDIA COMPANY SAL OFFSHORE,FOCUS MEDIH COMPANY SAL OFFSHORE
7,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 4835,21343,MAIN INTELLIGENCE DIRECTORATE,MAIN INTELLIGENCE DIOECTORATE
8,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 9802,35872,JOINT STOCK COMPANY STATE MACHINE BUILDING DES...,JOINT STOCK COMPANY STATE MACHINE BUISDING DES...
9,UID-299,Names where name parts are Modified,Typos,1 Typo - any letter,Entity,UID-299 - 10029,36458,OOO BITRIVER RUS,OOO BITRIVER RWS