# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-275' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '1 Letter Truncation in the end'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[-1][-1:])) & (len(split_name[-1]) > 1) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

        uid                          name entity_type
4606  20441                JAMOUS, Hussam  individual
8220  30552           HASNAIN, Syed Johar  individual
1145   9491       SHAMU, Webster Kotiwani  individual
4559  20251      LOPEZ BELLO, Samark Jose  individual
4256  19029              MURATOV, Aleksey  individual
3694  17024  BORODAY, Alexander Yuryevich  individual
5937  24389       BAZZI, Mohammad Ibrahim  individual
809    8227             BURHAN, Dr. Sahir  individual
317    7251             BEN SOLTANE, Adel  individual
4348  19252       POURNAGHSHBAND, Hossein  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[-1] # choose word to be truncated
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[:-1]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 4606,20441,"JAMOUS, Hussam","JAMOUS, HUSSA"
1,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 8220,30552,"HASNAIN, Syed Johar","HASNAIN, SYED JOHA"
2,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 1145,9491,"SHAMU, Webster Kotiwani","SHAMU, WEBSTER KOTIWAN"
3,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 4559,20251,"LOPEZ BELLO, Samark Jose","LOPEZ BELLO, SAMARK JOS"
4,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 4256,19029,"MURATOV, Aleksey","MURATOV, ALEKSE"
5,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 3694,17024,"BORODAY, Alexander Yuryevich","BORODAY, ALEXANDER YURYEVIC"
6,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 5937,24389,"BAZZI, Mohammad Ibrahim","BAZZI, MOHAMMAD IBRAHI"
7,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 809,8227,"BURHAN, Dr. Sahir","BURHAN, DR. SAHI"
8,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 317,7251,"BEN SOLTANE, Adel","BEN SOLTANE, ADE"
9,UID-275,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Individual,UID-275 - 4348,19252,"POURNAGHSHBAND, Hossein","POURNAGHSHBAND, HOSSEI"