# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-267' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '> 2 Letter Truncation in the end'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[-1][-3:])) & (len(split_name[-1]) > 3) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

         uid                            name entity_type
7549   28312       DUARTE, Franklyn Leonardo  individual
750     8144  BUITRAGO PARADA, Hector German  individual
381     7481                     BUKA, Flora  individual
7949   29818   KANDI, Omid Moosazadeh Hamzeh  individual
10345  37305  VOLOTSKOV, Alexey Anatolievich  individual
5911   24263                 QAYYUUM, Tabish  individual
2382   12577                   KALKAN, Duran  individual
7355   27685   CARRENO ESCOBAR, Pedro Miguel  individual
4973   21943                 AL-TABBAL, Saba  individual
10751  38420    NIKAEEN RAVARI, Amir Hossein  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[-1] # choose word to be truncated
    truncate_number = np.random.randint(3, len(truncate_word))
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[:len(truncate_word) - truncate_number]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 7549,28312,"DUARTE, Franklyn Leonardo","DUARTE, FRANKLYN LEONA"
1,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 750,8144,"BUITRAGO PARADA, Hector German","BUITRAGO PARADA, HECTOR GER"
2,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 381,7481,"BUKA, Flora","BUKA, F"
3,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 7949,29818,"KANDI, Omid Moosazadeh Hamzeh","KANDI, OMID MOOSAZADEH HA"
4,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 10345,37305,"VOLOTSKOV, Alexey Anatolievich","VOLOTSKOV, ALEXEY ANATOLI"
5,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 5911,24263,"QAYYUUM, Tabish","QAYYUUM, TAB"
6,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 2382,12577,"KALKAN, Duran","KALKAN, D"
7,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 7355,27685,"CARRENO ESCOBAR, Pedro Miguel","CARRENO ESCOBAR, PEDRO MI"
8,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 4973,21943,"AL-TABBAL, Saba","AL-TABBAL, S"
9,UID-267,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Individual,UID-267 - 10751,38420,"NIKAEEN RAVARI, Amir Hossein","NIKAEEN RAVARI, AMIR HOS"