# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-224' 
theme = 'Names where name parts are Modified'
category = 'Repetitions'
sub_category = '> 2 letters repeated once'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        for i in split_name:
            if all(j not in alphabet() for j in i):
                split_name.remove(i) # remove word with all numbers
                
        cnt[ind] += len(split_name)

    if all(i > 2 for i in cnt):
        break

ofac_list_sampled

        uid                                            name entity_type
992    8859           MOVEMENT FOR ISLAMIC REFORM IN ARABIA        -0-
3245  15953                     NOURI PETROCHEMICAL COMPANY        -0-
6807  26324             ZHENG DRUG TRAFFICKING ORGANIZATION        -0-
6885  26532                              ZAGROS PARDIS KISH        -0-
6064  24678  SOLUCIONES ELECTRICAS Y MECANICAS HADOM S.R.L.        -0-
7993  29865                         GOLDEN STAR TRADING LLC        -0-
8948  33998                         ROBNA KUCA METAL D.O.O.        -0-
8892  33879                            DOO BABUDOVAC BRNJAK        -0-
2355  12530                    AUTODROMO CULIACAN RACE PARK        -0-
84     4690                             ARMED ISLAMIC GROUP        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    for i in split_original_name:
        if all(j not in alphabet() for j in i):
            split_original_name.remove(i) # remove word with all numbers
    
    if len(split_original_name) == 3:
        loop_time = 3
    else:
        loop_time = np.random.randint(3, len(split_original_name))
        
    for i in range(loop_time):
        replace_word = np.random.choice(split_original_name) # randomly choose word to be replaced
        split_original_name.remove(replace_word) # remove chosen word
        
        replace_word_list = list(replace_word)
        repeat_list = [] # get index of alphabets in each word
        for i in range(len(replace_word)):
            if replace_word[i] in alphabet():
                repeat_list.append(i)
        
        random_index = np.random.choice(repeat_list) # randomly choose letter to be repeated
        
        replace_word_list[random_index] += replace_word_list[random_index] # add repeated letter
        
        final_test_name[final_test_name.index(replace_word)] = ''.join(replace_word_list)

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 992,8859,MOVEMENT FOR ISLAMIC REFORM IN ARABIA,MOVEMENNT FOR ISLAMIC REFORRM IN AARABIA
1,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 3245,15953,NOURI PETROCHEMICAL COMPANY,NOUURI PETROCHEEMICAL COOMPANY
2,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 6807,26324,ZHENG DRUG TRAFFICKING ORGANIZATION,ZZHENG DRUUG TRAFFICKING ORGANIZATIOON
3,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 6885,26532,ZAGROS PARDIS KISH,ZAAGROS PARDISS KISHH
4,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 6064,24678,SOLUCIONES ELECTRICAS Y MECANICAS HADOM S.R.L.,SOLUCIONESS ELECTRICCAS YY MECANICAS HADOM SS....
5,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 7993,29865,GOLDEN STAR TRADING LLC,GOLDENN SSTAR TRADINNG LLC
6,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 8948,33998,ROBNA KUCA METAL D.O.O.,ROBBNA KUCA MEETAL D.O.OO.
7,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 8892,33879,DOO BABUDOVAC BRNJAK,DOOO BABUDOVVAC BBRNJAK
8,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 2355,12530,AUTODROMO CULIACAN RACE PARK,AUTODROMO CULIACAAN RACEE PAARK
9,UID-224,Names where name parts are Modified,Repetitions,> 2 letters repeated once,Entity,UID-224 - 84,4690,ARMED ISLAMIC GROUP,ARMMED ISSLAMIC GROUUP