# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-274' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '1 Letter Truncation in the end'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[-1][-1:])) & (len(split_name[-1]) > 1) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

         uid                             name entity_type
6750   26174            GOLDEN WINGS AVIATION        -0-
3127   15734               KONING MARINE CORP        -0-
7043   26797                     JC CAR AUDIO        -0-
1853   11440                   SINALOA CARTEL        -0-
3248   15956    SHAZAND PETROCHEMICAL COMPANY        -0-
5855   23943     INTERNET RESEARCH AGENCY LLC        -0-
8217   30548        FIDES SHIP MANAGEMENT LLC        -0-
1969   11635             PETROPARS UK LIMITED        -0-
5663   23515       KOREA KUMUNSAN SHIPPING CO        -0-
10028  36457  OOO MANAGEMENT COMPANY BITRIVER        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[-1] # choose word to be truncated
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[:-1]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 6750,26174,GOLDEN WINGS AVIATION,GOLDEN WINGS AVIATIO
1,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 3127,15734,KONING MARINE CORP,KONING MARINE COR
2,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 7043,26797,JC CAR AUDIO,JC CAR AUDI
3,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 1853,11440,SINALOA CARTEL,SINALOA CARTE
4,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 3248,15956,SHAZAND PETROCHEMICAL COMPANY,SHAZAND PETROCHEMICAL COMPAN
5,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 5855,23943,INTERNET RESEARCH AGENCY LLC,INTERNET RESEARCH AGENCY LL
6,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 8217,30548,FIDES SHIP MANAGEMENT LLC,FIDES SHIP MANAGEMENT LL
7,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 1969,11635,PETROPARS UK LIMITED,PETROPARS UK LIMITE
8,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 5663,23515,KOREA KUMUNSAN SHIPPING CO,KOREA KUMUNSAN SHIPPING C
9,UID-274,Names where name parts are Modified,Truncation,1 Letter Truncation in the end,Entity,UID-274 - 10028,36457,OOO MANAGEMENT COMPANY BITRIVER,OOO MANAGEMENT COMPANY BITRIVE