# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet, rand_letter

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-300' 
theme = 'Names where name parts are Modified'
category = 'Typos'
sub_category = '1 Typo - any letter'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

        uid                            name entity_type
7951  29820    FARASHAH, Payman Dehghanpour  individual
2352  12527          AVENDANO OJEDA, Sergio  individual
9323  35216    NURGALIEV, Rashid Gumarovich  individual
864    8318           AL-DAJANI, Leila N.S.  individual
5930  24324      VALIULIN, Timur Samirovich  individual
9783  35853      OBNOSOV, Boris Viktorovich  individual
257    7163            AGUILAR AMAO, Miguel  individual
712    8098           MOSTAFA, Mohamed Amin  individual
6941  26592               MULAVI, Ali Shams  individual
9759  35779  GEORGIEVA, Elena Aleksandrovna  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    original_name_list = list(original_name) # transfer name string into letter list
    
    random_index = np.random.choice(list(range(len(original_name_list)))[1:-1]) # randomly choose letter to be replaced
    while original_name_list[random_index] not in alphabet(): # rerandom if not letter 
        random_index = np.random.choice(len(original_name_list))
    while original_name_list[random_index] == original_name[random_index]: # rerandom if no letter has been replaced
        original_name_list[random_index] = rand_letter() # replace letter

    final_test_name = ''.join(original_name_list)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 7951,29820,"FARASHAH, Payman Dehghanpour","FARSSHAH, PAYMAN DEHGHANPOUR"
1,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 2352,12527,"AVENDANO OJEDA, Sergio","AVENDANO OJEDA, SENGIO"
2,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 9323,35216,"NURGALIEV, Rashid Gumarovich","NURGALIEV, RASHID GUMOROVICH"
3,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 864,8318,"AL-DAJANI, Leila N.S.","AL-DAJANI, LDILA N.S."
4,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 5930,24324,"VALIULIN, Timur Samirovich","VALLULIN, TIMUR SAMIROVICH"
5,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 9783,35853,"OBNOSOV, Boris Viktorovich","OBNBSOV, BORIS VIKTOROVICH"
6,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 257,7163,"AGUILAR AMAO, Miguel","AGUILAR AMAO, MIGKEL"
7,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 712,8098,"MOSTAFA, Mohamed Amin","MOSTAFA, MOHAMED UMIN"
8,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 6941,26592,"MULAVI, Ali Shams","MMLAVI, ALI SHAMS"
9,UID-300,Names where name parts are Modified,Typos,1 Typo - any letter,Individual,UID-300 - 9759,35779,"GEORGIEVA, Elena Aleksandrovna","GEORGIEVA, ELENA ALEKSANDROLNA"