# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet, rand_letter

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-303' 
theme = 'Names where name parts are Modified'
category = 'Typos'
sub_category = '1 Typo - first letter'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[0][:1])) & (len(split_name[0]) > 1) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

         uid                                  name entity_type
318     7252  BEN ATTIA, Nabil Ben Mohamed Ben Ali  individual
7333   27474                           MAO, Yu Hua  individual
7936   29805                      MOSTAFAEI, Saeed  individual
6171   25100            SARRIA DIAZ, Edgar Alberto  individual
10090  36786            GUSEV, Denis Vladimirovich  individual
9601   35584                 VORONOVSKIY, Anatoliy  individual
7097   26923        PORRAS CORTES, Gustavo Eduardo  individual
9713   35696       PETROV, Vyacheslav Anatolyevich  individual
640     7868        AL-TIKRITI, Walid Hamid Tawfiq  individual
2228   12177            URREA LENIS, Jair Fernando  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    original_name_list = list(original_name) # transfer name string into letter list
    
    while original_name_list[0] == original_name[0]: # rerandom if no letter has been replaced
        original_name_list[0] = rand_letter() # replace letter

    final_test_name = ''.join(original_name_list)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 318,7252,"BEN ATTIA, Nabil Ben Mohamed Ben Ali","LEN ATTIA, NABIL BEN MOHAMED BEN ALI"
1,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 7333,27474,"MAO, Yu Hua","ZAO, YU HUA"
2,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 7936,29805,"MOSTAFAEI, Saeed","HOSTAFAEI, SAEED"
3,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 6171,25100,"SARRIA DIAZ, Edgar Alberto","OARRIA DIAZ, EDGAR ALBERTO"
4,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 10090,36786,"GUSEV, Denis Vladimirovich","PUSEV, DENIS VLADIMIROVICH"
5,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 9601,35584,"VORONOVSKIY, Anatoliy","NORONOVSKIY, ANATOLIY"
6,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 7097,26923,"PORRAS CORTES, Gustavo Eduardo","EORRAS CORTES, GUSTAVO EDUARDO"
7,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 9713,35696,"PETROV, Vyacheslav Anatolyevich","EETROV, VYACHESLAV ANATOLYEVICH"
8,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 640,7868,"AL-TIKRITI, Walid Hamid Tawfiq","LL-TIKRITI, WALID HAMID TAWFIQ"
9,UID-303,Names where name parts are Modified,Typos,1 Typo - first letter,Individual,UID-303 - 2228,12177,"URREA LENIS, Jair Fernando","XRREA LENIS, JAIR FERNANDO"