# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-283' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '2 Letter Truncation in the end'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[-1][-2:])) & (len(split_name[-1]) > 2) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

         uid                             name entity_type
4246   18990                  NICOLAOU, Nicos  individual
4936   21906                 SAFTALI, Ghassan  individual
7893   29664  BALABA, Dzmitriy Uladzimiravich  individual
9633   35616        YEZUBOV, Alexey Petrovich  individual
1223    9613       BADRI, Gabril Abdul Kareem  individual
9610   35593      GETTA, Anton Aleksandrovich  individual
7914   29745      ASLANOVA, Darya Dmitriyevna  individual
10147  36843       ORDENOV, Gennady Ivanovich  individual
3548   16708  BABAKOV, Alexander Mikhailovich  individual
7878   29544                    AMIN, Alireza  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[-1] # choose word to be truncated
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[:-2]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 4246,18990,"NICOLAOU, Nicos","NICOLAOU, NIC"
1,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 4936,21906,"SAFTALI, Ghassan","SAFTALI, GHASS"
2,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 7893,29664,"BALABA, Dzmitriy Uladzimiravich","BALABA, DZMITRIY ULADZIMIRAVI"
3,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 9633,35616,"YEZUBOV, Alexey Petrovich","YEZUBOV, ALEXEY PETROVI"
4,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 1223,9613,"BADRI, Gabril Abdul Kareem","BADRI, GABRIL ABDUL KARE"
5,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 9610,35593,"GETTA, Anton Aleksandrovich","GETTA, ANTON ALEKSANDROVI"
6,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 7914,29745,"ASLANOVA, Darya Dmitriyevna","ASLANOVA, DARYA DMITRIYEV"
7,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 10147,36843,"ORDENOV, Gennady Ivanovich","ORDENOV, GENNADY IVANOVI"
8,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 3548,16708,"BABAKOV, Alexander Mikhailovich","BABAKOV, ALEXANDER MIKHAILOVI"
9,UID-283,Names where name parts are Modified,Truncation,2 Letter Truncation in the end,Individual,UID-283 - 7878,29544,"AMIN, Alireza","AMIN, ALIRE"