# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-230' 
theme = 'Names where name parts are Modified'
category = 'Repetitions'
sub_category = '1 letters repeated once'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                                      name entity_type
9002   34117              TEAMFORD ENTERPRISES LIMITED        -0-
8156   30400                    SINA RAIL PARS COMPANY        -0-
7672   28654     TIANYI INTERNATIONAL DALIAN CO., LTD.        -0-
4756   21095                GRUPO EGMONT, S.A. DE C.V.        -0-
1629   10762                BELARUSIAN OIL TRADE HOUSE        -0-
9313   35156                             AO NII VEKTOR        -0-
7823   29265                          INTERSECTION LLC        -0-
10329  37218                      IMPERIAL YACHTS SARL        -0-
1218    9603             SANABEL RELIEF AGENCY LIMITED        -0-
4174   18734  NPF VTB PENSION FUND JOINT STOCK COMPANY        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    original_name_list = list(original_name) # transfer name string into letter list
    
    final_test_name = original_name_list.copy()
    
    repeat_list = [] # get index of alphabets in each name
    for i in range(len(original_name)):
        if original_name[i] in alphabet():
            repeat_list.append(i)
    
    random_index = np.random.choice(repeat_list) # randomly choose letter to be repeated
    repeat_list.remove(random_index) # remove chosen letter

    final_test_name[random_index] += original_name_list[random_index] # add repeated letter

    final_test_name = ''.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 9002,34117,TEAMFORD ENTERPRISES LIMITED,TTEAMFORD ENTERPRISES LIMITED
1,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 8156,30400,SINA RAIL PARS COMPANY,SINA RAIL PARS COMPANYY
2,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 7672,28654,"TIANYI INTERNATIONAL DALIAN CO., LTD.","TIAANYI INTERNATIONAL DALIAN CO., LTD."
3,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 4756,21095,"GRUPO EGMONT, S.A. DE C.V.","GRUPPO EGMONT, S.A. DE C.V."
4,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 1629,10762,BELARUSIAN OIL TRADE HOUSE,BELARUSSIAN OIL TRADE HOUSE
5,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 9313,35156,AO NII VEKTOR,AO NII VVEKTOR
6,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 7823,29265,INTERSECTION LLC,INTERSECTIOON LLC
7,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 10329,37218,IMPERIAL YACHTS SARL,IMPEERIAL YACHTS SARL
8,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 1218,9603,SANABEL RELIEF AGENCY LIMITED,SANABEL RELIEF AGENCY LIMITTED
9,UID-230,Names where name parts are Modified,Repetitions,1 letters repeated once,Entity,UID-230 - 4174,18734,NPF VTB PENSION FUND JOINT STOCK COMPANY,NPF VTB PENSION FUND JOOINT STOCK COMPANY