# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-233' 
theme = 'Names where name parts are Modified'
category = 'Repetitions'
sub_category = '1 letters repeated twice'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

        uid                               name entity_type
1730  11222                    TSAI, Hsein Tai  individual
5151  22121          JIJAH, Jalal-al-Din 'Adil  individual
601    7829          AYARI, Chiheb Ben Mohamed  individual
9724  35707                     POPOV, Yevgeny  individual
6839  26411                PAURA, Lucas Daniel  individual
7959  29828                   MADHI, Shahriyar  individual
5460  23147                      SEIF, Mahmoud  individual
7577  28349  RAZVOZHAEV, Mikhail Vladimirovich  individual
4631  20567                       HONG, Jinhua  individual
7890  29642     KARAEU, Yuriy Khadzymuratavich  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    original_name_list = list(original_name) # transfer name string into letter list
    
    final_test_name = original_name_list.copy()
    
    repeat_list = [] # get index of alphabets in each name
    for i in range(len(original_name)):
        if original_name[i] in alphabet():
            repeat_list.append(i)
    
    random_index = np.random.choice(repeat_list) # randomly choose letter to be repeated
    repeat_list.remove(random_index) # remove chosen letter

    final_test_name[random_index] += original_name_list[random_index] + original_name_list[random_index] # add repeated letter twice

    final_test_name = ''.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 1730,11222,"TSAI, Hsein Tai","TSAI, HSEEEIN TAI"
1,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 5151,22121,"JIJAH, Jalal-al-Din 'Adil","JIJAH, JALAL-AL-DIN 'AAADIL"
2,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 601,7829,"AYARI, Chiheb Ben Mohamed","AYARI, CCCHIHEB BEN MOHAMED"
3,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 9724,35707,"POPOV, Yevgeny","POPOV, YEVGENNNY"
4,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 6839,26411,"PAURA, Lucas Daniel","PAURA, LUCAS DDDANIEL"
5,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 7959,29828,"MADHI, Shahriyar","MAAADHI, SHAHRIYAR"
6,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 5460,23147,"SEIF, Mahmoud","SEIF, MAAAHMOUD"
7,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 7577,28349,"RAZVOZHAEV, Mikhail Vladimirovich","RAZVOZHAEV, MIKHAIIIL VLADIMIROVICH"
8,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 4631,20567,"HONG, Jinhua","HONG, JJJINHUA"
9,UID-233,Names where name parts are Modified,Repetitions,1 letters repeated twice,Individual,UID-233 - 7890,29642,"KARAEU, Yuriy Khadzymuratavich","KARAEU, YURIY KHADZYMURATAAAVICH"