# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet, num_of_alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-251' 
theme = 'Names where name parts are Modified'
category = 'Transpositions'
sub_category = '1 transposition - more than 2 letters anywhere'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                                    name entity_type
7802   29160                             HUO, Liujun  individual
8690   32675                  HARA, Dzmitry Iurevich  individual
10034  36463             KADYROVA, Karina Ramzanovna  individual
3103   15701               GRIMBERG DE GUBEREK, Sara  individual
2646   13149                    GUZMAN LOPEZ, Ovidio  individual
119     6365  BIN LADIN, Usama bin Muhammad bin Awad  individual
10116  36812              KRUGLY, Vladimir Igorevich  individual
1576   10624                     CAZAREZ PEREZ, Irma  individual
10559  37734         KHAVCHENKO, Dmitriy Vasilyevich  individual
3551   16712         PUSHKOV, Alexei Konstantinovich  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    original_name_list = list(original_name) # transfer name string into letter list
    
    final_test_name = original_name_list.copy()
    
    if num_of_alphabet(original_name_list) == 3:
        loop_time = 3
    else:
        loop_time = np.random.randint(3, num_of_alphabet(original_name_list))
    
    while True:
        for i in range(loop_time):
            random_list = list(range(len(original_name_list))) # randomly choose letter to be transposed
            while True:
                random_letter_index = np.random.choice(random_list)
                random_letter = original_name_list[random_letter_index]
                if random_letter in alphabet():
                    break
            random_list.remove(random_letter_index) # remove chosen letter index

            random_place = np.random.choice(random_list) # randomly choose place to transpose to

            del original_name_list[random_letter_index] # remove chosen letter
            original_name_list.insert(random_place, random_letter) # add transposed letter

            final_test_name = ''.join(original_name_list)
            replace_word = ''.join(original_name_list)
        
        if final_test_name != original_name:
            break
        else:
            final_test_name = list(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 7802,29160,"HUO, Liujun","LNUOU, IHJU"
1,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 8690,32675,"HARA, Dzmitry Iurevich","AIRR, DZEY ACURVHIITHM"
2,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 10034,36463,"KADYROVA, Karina Ramzanovna","KANDROAVZ,Y KARIA RAMANOVNA"
3,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 3103,15701,"GRIMBERG DE GUBEREK, Sara","EGRIMBEGA RDERU GSBEAK,R"
4,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 2646,13149,"GUZMAN LOPEZ, Ovidio","GMODAU ILEZ,P OVNIOZ"
5,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 119,6365,"BIN LADIN, Usama bin Muhammad bin Awad","IINAIA LD,I SDANBMM AUBN MHAMAD NB UAW"
6,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 10116,36812,"KRUGLY, Vladimir Igorevich","KRULRC, IYGVVILEIMIR DGOAH"
7,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 1576,10624,"CAZAREZ PEREZ, Irma","CAMZAEZZ PERER, IRA"
8,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 10559,37734,"KHAVCHENKO, Dmitriy Vasilyevich","AIKVCHENKO,V DMITHIYR YSLECVAIH"
9,UID-251,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters anywhere,Individual,UID-251 - 3551,16712,"PUSHKOV, Alexei Konstantinovich","PUSOHKOV, ALEXEAI KONNTSTNIVICH"