In [10]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-558' 
theme = 'Names where Name Parts are Modified'
category = 'Character Replaced by Number'
sub_category = '>2 Letters replaced by numbers - different name part'
entity_type = 'Vessel'

# ********************

def character_to_number():
    character_to_number_dict = {
        'A' : '4', 'B' : '8',OR B: 4?
        'C' : ?
        
	return numbers_to_words_dict

In [33]:
import random
def replace_1_random_character(phrase,k):
    for num in random.sample(range(0, len(phrase)),k):
        phrase = phrase[:num] +str(random.randint(0,9)) + phrase[num + 1:]
    return phrase

In [12]:
import pandas as pd
from test_case_generator_functions import alphabet

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [46]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel
ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ') > 3)] # only evaluate names with more than 3 words

In [48]:
ofac_list_sampled = ofac_list_filtered
ofac_list_sampled

        uid                       name entity_type
3727  17089  JANG JA SAN CHONG NYON HO      vessel
3731  17093         O UN CHONG NYON HO      vessel

In [50]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [52]:
# run loop to generate the test cases

for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        if number_of_words==5 :
            final_test_name=name_words[0]+' '+replace_1_random_character(name_words[1],1)+' '+replace_1_random_character(name_words[2],1)+' '+replace_1_random_character(name_words[3],1)+' '+name_words[4]# create the test case
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        else:
            name_words=row['name'].split()
            final_test_name_0=''
            for i in range(3,len(name_words)):
                final_test_name_0=final_test_name_0+' '+name_words[i]
            final_test_name=name_words[0]+' '+replace_1_random_character(name_words[1],1)+' '+replace_1_random_character(name_words[2],1)+' '+replace_1_random_character(name_words[3],1)+' '+final_test_name_0# create the test case
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

            

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-558,Names where Name Parts are Modified,Character Replaced by Number,>2 Letters replaced by numbers - different nam...,Vessel,UID-558 - 3727,17089,JANG JA SAN CHONG NYON HO,JANG J3 3AN CHO2G CHONG NYON HO
1,UID-558,Names where Name Parts are Modified,Character Replaced by Number,>2 Letters replaced by numbers - different nam...,Vessel,UID-558 - 3731,17093,O UN CHONG NYON HO,O 9N CHO1G NY7N HO