In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-630' 
theme = 'IDs'
category = 'IMO'
sub_category = 'IMO # without prefix ("IMO")'
entity_type = 'Vessel'

# ********************

In [2]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [15]:
ofac_list = ofac_list_download[[0,1,2,11]]
ofac_list.columns = ['uid', 'name', 'entity_type','IMO']
ofac_list_imo = ofac_list[ofac_list['IMO'].str.contains('IMO')==True]
ofac_list_imo

,uid,name,entity_type,IMO
75,4243,EBANO,vessel,Vessel Registration Identification IMO 7406784...
76,4249,TIFON,vessel,Vessel Registration Identification IMO 7206512.
603,7831,"DUMONT, Lionel",individual,DOB 21 Jan 1971; alt. DOB 19 Jan 1971; alt. DO...
711,8096,"HAMRAOUI, Kamel Ben Mouldi Ben Hassan",individual,"DOB 21 Oct 1977; POB Beja, Tunisia; nationalit..."
1059,9339,"ARRIOLA MARQUEZ, Oscar Arturo",individual,DOB 06 Nov 1968; alt. DOB 11 Jun 1968; POB Chi...
...,...,...,...,...
10753,38397,GOLDEN WARRIOR SHIPPING CO. LIMITED,-0-,Identification Number IMO 6128561; Registratio...
10756,38418,GLORY HARVEST,vessel,Vessel Registration Identification IMO 9143506...
10823,39117,VIRGO MARINE,-0-,Website www.virgo-marine.com; Additional Sanct...
10886,39276,GAS ALLURE,vessel,Vessel Registration Identification IMO 9142150...
10901,39356,NEW EASTERN SHIPPING CO LTD,-0-,Secondary sanctions risk: North Korea Sanction...

In [37]:


ofac_list_filtered = ofac_list_imo[(ofac_list_imo.entity_type == 'vessel')]



ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled


#ofac_list_filtered = ofac_list_imo[(ofac_list_imo.entity_type == 'vessel')]


#ofac_list_sampled = ofac_list_filtered.sample(n = 10)

#ofac_list_sampled

,uid,name,entity_type,IMO
6531,25708,FAXON,vessel,Additional Sanctions Information - Subject to ...
6295,25372,BEHTA,vessel,Additional Sanctions Information - Subject to ...
3725,17087,HWANG GUM SAN 2,vessel,Secondary sanctions risk: North Korea Sanction...
4414,19592,MI RIM,vessel,Secondary sanctions risk: North Korea Sanction...
7414,28017,YARE,vessel,Vessel Registration Identification IMO 9543500...
6309,25386,PARSHAN,vessel,Additional Sanctions Information - Subject to ...
6197,25258,GILDA,vessel,Additional Sanctions Information - Subject to ...
7190,27148,SIG,vessel,Secondary sanctions risk: Ukraine-/Russia-Rela...
10252,37031,BELOMORSKIY,vessel,Vessel Registration Identification IMO 8305781...
6981,26661,BICENTENARIO III,vessel,Vessel Registration Identification IMO 9585819...

In [34]:
ofac_list_sampled.iloc[1]['IMO'].split(';')

['Former Vessel Flag Malta',
 ' alt. Former Vessel Flag Tuvalu',
 ' alt. Former Vessel Flag None Identified',
 ' alt. Former Vessel Flag Seychelles',
 ' Additional Sanctions Information - Subject to Secondary Sanctions',
 ' Vessel Registration Identification IMO 9357365',
 ' MMSI 249256000',
 ' Linked To: NATIONAL IRANIAN TANKER COMPANY.']

In [38]:
test = ofac_list_sampled['IMO'].str.split(pat = 'IMO', n = 1, expand = True)
ofac_list_sampled['IMO']= test[1]
ofac_list_sampled
#test2= test['1'].str.split(pat = ';', n = 1, expand = True)

,uid,name,entity_type,IMO
6531,25708,FAXON,vessel,9283758; Linked To: NATIONAL IRANIAN TANKER C...
6295,25372,BEHTA,vessel,9349590; Linked To: ISLAMIC REPUBLIC OF IRAN ...
3725,17087,HWANG GUM SAN 2,vessel,8405270.
4414,19592,MI RIM,vessel,8713471; Linked To: MIRIM SHIPPING CO LTD.
7414,28017,YARE,vessel,"9543500; Linked To: PETROLEOS DE VENEZUELA, S.A."
6309,25386,PARSHAN,vessel,9051648; Linked To: ISLAMIC REPUBLIC OF IRAN ...
6197,25258,GILDA,vessel,9367982; Linked To: ISLAMIC REPUBLIC OF IRAN ...
7190,27148,SIG,vessel,9735335; Linked To: TRANSPETROCHART CO LTD.
10252,37031,BELOMORSKIY,vessel,8305781; Linked To: JOINT STOCK COMPANY NORTH...
6981,26661,BICENTENARIO III,vessel,"9585819; Linked To: PETROLEOS DE VENEZUELA, S.A."

In [39]:
test2= ofac_list_sampled['IMO'].str.split(pat = ';', n = 1, expand = True)
ofac_list_sampled['IMO1']= test2[0]
ofac_list_sampled

,uid,name,entity_type,IMO,IMO1
6531,25708,FAXON,vessel,9283758; Linked To: NATIONAL IRANIAN TANKER C...,9283758
6295,25372,BEHTA,vessel,9349590; Linked To: ISLAMIC REPUBLIC OF IRAN ...,9349590
3725,17087,HWANG GUM SAN 2,vessel,8405270.,8405270.
4414,19592,MI RIM,vessel,8713471; Linked To: MIRIM SHIPPING CO LTD.,8713471
7414,28017,YARE,vessel,"9543500; Linked To: PETROLEOS DE VENEZUELA, S.A.",9543500
6309,25386,PARSHAN,vessel,9051648; Linked To: ISLAMIC REPUBLIC OF IRAN ...,9051648
6197,25258,GILDA,vessel,9367982; Linked To: ISLAMIC REPUBLIC OF IRAN ...,9367982
7190,27148,SIG,vessel,9735335; Linked To: TRANSPETROCHART CO LTD.,9735335
10252,37031,BELOMORSKIY,vessel,8305781; Linked To: JOINT STOCK COMPANY NORTH...,8305781
6981,26661,BICENTENARIO III,vessel,"9585819; Linked To: PETROLEOS DE VENEZUELA, S.A.",9585819

In [50]:
ofac_list_sampled['index_column'] = ofac_list_sampled.index
ofac_list_sampled

,uid,name,entity_type,IMO,IMO1,index_column
6531,25708,FAXON,vessel,9283758; Linked To: NATIONAL IRANIAN TANKER C...,9283758,6531
6295,25372,BEHTA,vessel,9349590; Linked To: ISLAMIC REPUBLIC OF IRAN ...,9349590,6295
3725,17087,HWANG GUM SAN 2,vessel,8405270.,8405270.,3725
4414,19592,MI RIM,vessel,8713471; Linked To: MIRIM SHIPPING CO LTD.,8713471,4414
7414,28017,YARE,vessel,"9543500; Linked To: PETROLEOS DE VENEZUELA, S.A.",9543500,7414
6309,25386,PARSHAN,vessel,9051648; Linked To: ISLAMIC REPUBLIC OF IRAN ...,9051648,6309
6197,25258,GILDA,vessel,9367982; Linked To: ISLAMIC REPUBLIC OF IRAN ...,9367982,6197
7190,27148,SIG,vessel,9735335; Linked To: TRANSPETROCHART CO LTD.,9735335,7190
10252,37031,BELOMORSKIY,vessel,8305781; Linked To: JOINT STOCK COMPANY NORTH...,8305781,10252
6981,26661,BICENTENARIO III,vessel,"9585819; Linked To: PETROLEOS DE VENEZUELA, S.A.",9585819,6981

In [52]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [53]:
for i in range(10):
    final_test_name=ofac_list_sampled['IMO1'].iloc[i]
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(ofac_list_sampled['index_column'].iloc[i]), ofac_list_sampled['uid'].iloc[i], ofac_list_sampled['name'].iloc[i], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 6531,25708,FAXON,9283758
1,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 6295,25372,BEHTA,9349590
2,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 3725,17087,HWANG GUM SAN 2,8405270.
3,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 4414,19592,MI RIM,8713471
4,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 7414,28017,YARE,9543500
5,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 6309,25386,PARSHAN,9051648
6,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 6197,25258,GILDA,9367982
7,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 7190,27148,SIG,9735335
8,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 10252,37031,BELOMORSKIY,8305781
9,UID-630,IDs,IMO,"IMO # without prefix (""IMO"")",Vessel,UID-630 - 6981,26661,BICENTENARIO III,9585819