In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-615' 
theme = 'Negative Control'
category = 'No Match'
sub_category = '100% false match'
entity_type = 'Vessel'

# ********************

In [2]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [56]:
import random

In [3]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] 


ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

         uid              name entity_type
10308  37095            LADY R      vessel
8597   32173    TRIPLE SUCCESS      vessel
9744   35740             TANGO      vessel
5658   23511         GOO RYONG      vessel
6981   26661  BICENTENARIO III      vessel
6205   25266           SABRINA      vessel
4406   19584      SOUTH HILL 5      vessel
6220   25284    IRAN HORMUZ 14      vessel
5615   23424            BONU 5      vessel
5614   23423           PROGRES      vessel

In [57]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [60]:
for index, row in ofac_list_sampled.iterrows():
    final_test_name=ofac_list.iloc[index+random.choice((1,100),1)]['name']
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

TypeError: choice() takes 2 positional arguments but 3 were given